@import 'stage_assets/colors';
@import 'stage_assets/utilities/float';
@import 'stage_assets/typography/lists/horizontal-list';

#navigation-global {
  width:100%;
  background: #f6f3ec;
  border-bottom: 1px solid #d0d0d0;
  padding: 7px 0 3px;
  margin: 0 0 10px;
  z-index: 9999;

  .menu-wrapper {
    @include float-right;
  }

  ul {
    @include horizontal-list(6px);
    font-size: 15px;
    font-weight: normal;
    font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
    text-transform: uppercase;
    a {
      &:link, &:visited {
        color: black;
      }
      &:hover, &:focus {
        color: #ff3a14;
        text-decoration: none;
      }
      &.external {
        &:hover, &:focus {
          color: black;
        }
      }
    }
    li[data-name=edinburgh] a {
      color: $stage_edinburgh_color;
    }
    li[data-name=directory] a {
      color: $stage_directory_color;
    }
    li[data-name=castings] a {
      color: $stage_castings_color;
    }
    li[data-name=jobs] a {
      color: $stage_jobs_color;
    }
    li[data-name=dating] a {
      color: $stage_dating_color;
    }
    li[data-name=archive] a {
      color: $stage_archive_color;
    }
  }
}
