@import "stage_assets/typography/lists/horizontal-list";
@import "stage_assets/utilities/float";
@import "addons/clearfix";

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 960px;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}

%full-width-with-divider {
  background: transparent url(image-path('stage_assets/divider.gif')) 632px 0 repeat-y;
  padding: 0px 7px 10px 10px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  @include clearfix;
}
%content-area {
  @include float-left;
  width: 622px;
  margin-right: 10px;
  ul {
    list-style-type: disc;
  }
}
%sidebar-area {
  @include float-right;
  width: 310px;
}
%side-filter-column {
  @include float-left;
  width: 150px;
  margin-right: 10px;
}
%filtered-results-column {
  @include float-left;
  width: 460px;
}

/* TOP BANNER ADVERTISING ELEMENTS */
#topads-wrapper {
  padding: 5px 0;
  ul {
    @include horizontal-list(3px);
    li.last {
      @include float-right;
    }
  }
}
