$stage_blue_color: #496c94;
$stage_red_color: #ff3a14;
$stage_green_color: #43b649;
$stage_orange_color: #f78f20;
$stage_oxblood_color: #861f1f;
$stage_beige_color: #c08e66;
$stage_purple_color: #8a3a9f;
$stage_magenta_color: #e3068d;
$stage_aqua_color: #3fbeb1;
$stage_dark_grey_color: #909090;
$stage_maroon_color: #770011;

$stage_castings_color: $stage_orange_color;
$stage_directory_color: $stage_green_color;
$stage_jobs_color: $stage_purple_color;
$stage_edinburgh_color: $stage_blue_color;
$stage_dating_color: $stage_red_color;
$stage_archive_color: $stage_maroon_color;

$stage_border_color: #ccc;

$site_key_color: $stage_castings_color;
