@import 'addons/clearfix';
@import 'stage_assets/colors';

#topads-wrapper {
  background-color: #fff;
}
#page-wrapper {
  background-color: #cbcbcb;
  background:
    url(image-path('page/trans-to-black.png')) bottom center repeat-x, url(image-path('page/spotlights.jpg')) top center no-repeat, url(image-path('page/black_background.gif'));
  padding-top: 0;
}
#nonfooter-wrapper {
}
#main {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 2px #888;
}

#footer {
  margin: 0;
  padding: 0 0 180px;
  background-color: transparent;
  background: url(image-path('page/floorboards.jpg')) bottom center no-repeat,
  url(image-path('page/trans-to-black-deep.png')) top center repeat-x;


  .container {
    @include clearfix;
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-top-width: 0px;
    background-color: #f6f3ec;
    box-shadow: 0px 2px 3px #000;
  }

  nav {
    @include clearfix;
    ul {
      margin: 0 0 10px;
      padding: 0;
      list-style: none;
      font-size: 15px;
    }

    &#footer-stage-links-primary {
      // @include franklin_gothic_font;
      li {
        margin-bottom: 3px;
      }
      text-transform: uppercase;
      a {
        color: black;
        // @include menu-link(black, $news_color);
        font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
        padding-left: 25px;
        background: url(image-path('bullet3.png')) left center no-repeat;
      }
      .directory a {
        color: $stage_directory_color;
      }
      .castings a {
        color: $stage_castings_color;
      }
      .jobs a {
        color: $stage_jobs_color;
      }
    }
    &#footer-stage-links-secondary {
      margin-bottom: 20px;
      a {
        color: black;
        // @include menu-link(black, $castings_color);
        padding-left: 25px;
        line-height: 18px;
        font-size: 12px;
        background: url(image-path('bullet3.png')) left center no-repeat;
      }
    }
  }

  .col1, .col2, .col3 {
    margin: 0 5px;
    display: inline;
    float: left;
    width: 190px;
  }
  .col1 {
    margin-left: 0px;
  }
  .col3 {
    margin-right: 0px;
  }
}

#footer-stage-links {
  display: inline;
  float: left;
  width: 620px;
  margin: 5px 10px;
  h1 {
    margin: 8px 0 5px;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }
  h2 {
    margin: 10px 0 5px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    float: none;
  }
}

#footer-marketing {
  width: 310px;
  margin: 5px 0;
  float: left;
  display: inline;
}

#footer-social-media {
  ul {
    list-style: none;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
  }
  li {
    display: inline-block;
  }
  a.ss-icon {
    font-size: 20px;
  }
  a.link-more {
    font-size: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.footer-text {
  width: 960px;
  margin: 5px auto;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
  font-size: 11px;
  .copyright {
    display: inline;
    float: left;
    width: 360px;
    margin: 0px;
  }
  .policies {
    width: 600px;
    text-align: right;
    float: left;
    display: inline;
    ul {
      list-style: none;
      li {
        display: inline;
        &:after {
          content: "|";
          padding-left: 2px;
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
    a:link, a:visited {
      color: #fff;
    }
    a:hover, a:focus {
      color: #f3871f;
    }
  }
}
