@import 'mixins.css.scss';

.hidden {
  display: none;
}

#user-logged {
  float: right;
  word-spacing: 2px;
  margin: 10px 2px;
  font-weight: bold;
  padding: 7px 9px 5px 3px;
  background: #fef0e3;

  a.logout
  {
    padding: 0 4px 0 12px;
    color: #f3871f;
    background: url(separator.gif) 0 50% no-repeat;
  }

  a.profile
  {
    padding: 0 4px;
    color: #000;
    background: none;
  }

}

.paging-wrapper {

  strong {
    font-weight: bold;
    float: left;
    padding: 0 5px 0 0;
    color: #000; }

  span {
    float: left;
    color: #6c6b6c;}

  .paging-holder {
    float: right;
    margin-bottom: 5px;
  }

  .pagination {
    // background: white;
    padding-right: 5em;
    white-space: nowrap;
    :nth-child(1){
      background: none;
      padding-left: 0;
    }
    a, em{
      padding: 0 1px 0 5px;
      background: url(separator2.gif) 0 50% no-repeat;
    }
    .gap {
      float: none;
      display: inline;
      &+a {
        background: none;
        padding-left: 0;
      }
    }
    .previous_page.disabled {
      padding-right: 1px;
      float: none;
    }
    .next_page.disabled {
      padding-left: 4px;
      background: url(separator2.gif) 0 50% no-repeat;
      float: none;
    }
  }

  ul {
    float: left;
    li {
      float: left;
      padding: 0 4px 0 5px;
      background: url(separator2.gif) 0 50% no-repeat;
      &:first-child {
        padding-left: 0;
        background: none; } }
    span {
      float: none;
      color: #f78c20; } }
}

.button-link{
  background: none;
  border: 0;
  color: #f78c20;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button-link:hover{
  text-decoration: underline;
}

.linked_btn{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border-image: initial;
}

.btn-holder{
  width:375px;
  float:right;
  margin: 0 40px 0 0;
}

.btn-holder span{
  float:right;
  padding:7px 0 0;
}

.btn-holder .btn-submit{
  border:none;
  cursor:pointer;
  float:right;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  margin:0 0 0 14px;
  width:68px;
  height:25px;
  background:url(bg-text-field.gif) 0 -193px no-repeat;
}

.date-container select{
  width: auto;
  margin: 0 5px 0 0;
}

/*Error messages*/
ul li #notice {
  padding: 2px 30px;
  background: #A0DEBD;
  color: green;
  font-weight: normal;
  text-transform: none;
  word-spacing: 4px;
}

ul li #error {
  padding: 2px 30px;
  background-color: #dea3a0;
  color: red;
  font-weight: normal;
  text-transform: none;
  word-spacing: 4px;
}

.field_with_errors {
  display: inline;
  input[type=text], input[type=email], input[type=tel], input[type=select], input[type=url], input[type=password] {
    border: 1px solid red !important;
    display: block;
    background: url(warning-s.png) right center no-repeat !important;
  }
  /*.radio-error{*/
  /*}*/
  .label2, .label-radio, .label-check{
    color: red !important;
  }
  /*input[type=password]{*/
    /*border: 1px solid red !important;*/
    /*display: table !important;*/
    /*background: url(warning-s.png) 210px 1px no-repeat !important;*/
  /*}*/
  label.message {
    display: none;
    /*color: red;*/
    /*font-weight: normal;*/
    /*width: 100% !important;*/
    /*padding: 0;*/
    /*margin: 0;*/
  }
  textarea {
    border: 1px solid red !important;
  }
}

.field_without_errors {
  input[type=text], input[type=email], input[type=tel], input[type=select], input[type=url] {
    border-color: #999 !important;
    background-image: none !important;
  }
  label.label2{
    color: black !important;
  }
  label.label-radio{
    color: black !important;
    .bold {
      font-weight: bold;
    }
  }
  input[type=password]{
    border: none !important;
    display: block !important;
    background: none !important;
  }
  label.message {
    display: none !important;
    color: inherit;
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
}

.enable-error-labels{
  .field_with_errors {
    input[type=text], input[type=email], input[type=tel], select input[type=password] {
      border: 1px solid red;
      display: block;
      background: url(warning-s.png) 210px 1px no-repeat;
    }
    label.message {
      display: block;
      color: red;
      font-weight: normal;
      width: 100% !important;
      padding: 0;
      margin: 0;
    }
  }
}

#error_explanation {
  border: 1px solid red;
  padding: 10px 10px 10px 50px;
  margin-bottom: 30px;
  background: #F6F3EC url(warning.png) 10px 8px no-repeat;
  h2 {
    text-align: left;
    padding: 5px 5px 8px 0;
    font-size: 16px;
    line-height: 18px;
    color: red;
    border-bottom: 1px dotted #CCC;
  }
  h2 span {
    color: #555;
  }
  ul{
    margin: 15px 0 0;
  }
  ul li {
    font-size: 12px;
    list-style: none;
    display: inline;
    color: red;
    padding: 0 8px;
    background: url(separator.gif) 0 50% no-repeat;
  }
  ul li:first-child{
    background: none;
    padding: 0 4px 0 0;
  }
}

#forgot_password_container #error_explanation {
  background: #F6F3EC url(warning-s.png) 16px 11px no-repeat;
  margin-bottom: 15px;
}

#forgot_password_container #error_explanation ul {
  margin-top: 5px;
}

#forgot_password_container #error_explanation h2 {
  font-family: arial;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0 0 5px 0;
}

#forgot_password_container #error_explanation h2,
#forgot_password_container #error_explanation li {
  color: #555;
}

#select-error {
  border: 1px solid red;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
.row.drama_uk_trained {
  #select-error {
    overflow:hidden;
    float:left;
    width:100%;
    &.field_with_errors {
      &:after {
        display:table;
        width:100%;
        clear:both;
        height:0;
        zoom:1;
        line-height:0;
        content: ".";
        visibility:hidden;
      }
    }
  }
}

.plain_btn{
  @include plain_btn;
}

.tabset a.inactive{
  border:solid #ccc;
  border-width:1px 1px 0;
  min-width:37px;
  padding:4px 8px;
  float:left;
  color:#999;
  background:url(bg-tab.gif) repeat-x;
  cursor: default;
}
.row .btn{
  word-spacing:3px;
  float:left;
  background:#000;
  position:relative;
  margin:-2px 0 0;
  padding:0 6px 0 9px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
}
.row .btn span{
  float:left;
  padding:1px 24px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
}
.row .btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#f0891f;
}

.filter-form{
  ul{
    .slide{
      .row{
        span
        {
          margin-right: 4px;
          font-size: 0.7em;
          float: right;
        }

      }
    }
  }
}

#content {
  .wrapper {
    padding-left: 20px;
    .container {
      padding-bottom: 15px;
      border-bottom: 1px dotted #CCC;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      color: #F5891F;
      padding: 0 0 12px 2px;
    }
    .row {
      strong {
        color: black;
        font-size: 14px;
        font-weight: bold;
      }
      span {
        color: #F3871F;
        font-size: 13px;
        font-weight: bold;
      }
    }
    label {
      font: 15px/18px Georgia,Times,sans-serif;
      color: #111;
      display: block;
    }
    textarea {
      width: 100%;
      margin: 10px 0;
    }
  }
}

@mixin btn-container($margin-r, $margin-t: 0) {
  float: right;
  margin: $margin-t $margin-r 15px 0;
}

@mixin styled-btn($wdth, $padd-top, $bg-x, $bullet: 'bullet6.png') {
  text-transform: uppercase;
  position: relative;
  float: left;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  width: $wdth;
  color: #FEF0E3;
  font-weight: bold;
  margin: 2px 0 -3px;
  padding: $padd-top 16px 2px 0;
  background: #F1861F url($bullet) $bg-x 6px no-repeat;
}

.next-arrow-orange-button {
  @include styled-btn(auto, 1px, 92%, 'btn-search.png');
  float: right;
  margin: 0 0 0 10px;
  padding: 1px 30px 2px 12px;
  &:hover {
    background: #111 url(btn-search.png) 92% 6px no-repeat;
  }
}

.custom-button-container {
  @include btn-container(10px);
  .custom-button {
    @include styled-btn(80px, 1px, 61px);
  }
  .custom-button:hover {
    background: #111 url(bullet6.png) 61px 6px no-repeat;
  }
}

.custom-next-button {
  @include styled-btn(80px, 1px, 61px);
  float: right;
  margin: 0 0 0 10px;
  &:hover {
    background: #111 url(bullet6.png) 61px 6px no-repeat;
  }
}

.custom-preview-button {
  @include styled-btn(auto, 1px, 72px);
  float: right;
  margin: 0 20px 0 30px;
  padding: 1px 25px 0 12px;
  &:hover {
    background: #111 url(bullet6.png) 72px 6px no-repeat;
  }
  &.casting-preview {
    margin: 0 10px 0 0;
    padding: 1px 25px 0 10px;
  }
}

.add-course-button {
  @include styled-btn(auto, 1px, 133px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 133px 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 133px 6px no-repeat;
  }
}

.add-role-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 153px 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 153px 6px no-repeat;
  }
}

.add-photo-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 122px 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 122px 6px no-repeat;
  }
}

.add-audio-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 94% 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 94% 6px no-repeat;
  }
}

.add-video-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 94% 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 94% 6px no-repeat;
  }
}

.update-audio-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 94% 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 94% 6px no-repeat;
  }
}

.update-video-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 94% 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 94% 6px no-repeat;
  }
}

.preview-button-container {
  @include btn-container(30px);
  margin: 0 8px 15px 30px;
  .preview-button {
    @include styled-btn(90px, 1px, 70px);
  }
  .in-holder {
    margin: 0;
  }
  .preview-button:hover {
    background: #111 url(bullet6.png) 70px 6px no-repeat;
  }
}

.post-button-container {
  @include btn-container(20px, 10px);
  .post-button {
    @include styled-btn(120px, 1px, 103px);
  }
  .post-button:hover {
    background: #111 url(bullet6.png) 103px 6px no-repeat;
  }
}

.update-button {
  @include styled-btn(90px, 1px, 70px, 'btn-search.png');
  float: right;
  margin: 0 0 0 10px;
}
.update-button:hover {
  background: #111 url(btn-search.png) 70px 6px no-repeat;
}

.black-update-button {
  @include styled-btn(90px, 1px, 70px, 'btn-search.png');
  float: right;
  margin: 0 0 0 10px;
  background-color: #111;
}
.black-update-button:hover {
  background: #F1861F url(btn-search.png) 70px 6px no-repeat;
}

#update_button_override {
  @include btn-container(20px, 10px);
  @include styled-btn(90px, 1px, 70px, 'btn-search.png');
  float: right;
  margin-top: -43px;
  &:hover {
    background: #111 url(btn-search.png) 70px 6px no-repeat;
  }
}

.dont-button-container {
  @include btn-container(20px, 10px);
  float: none;
  .dont-button {
    @include styled-btn(auto, 1px, 103px);
    background: #F1861F;
    margin: 0;
    padding: 1px 10px 2px 10px;
  }
  .dont-button:hover {
    background: #111;
  }
}

.exit-save-button {
  @include styled-btn(auto, 0, 103px);
  background: #7b797a;
  padding: 1px 16px 2px 16px;
  float: right;
  margin: 0 10px 0 0;
  &:hover {
    background: #111;
  }
}

.archive-button {
  @include styled-btn(auto, 0, 103px);
  background: #7b797a;
  padding: 1px 16px 2px 16px;
  float: right;

  &:hover {
    background: #111;
  }
}

.mark-as-button {
  @include styled-btn(auto, 1px, 103px);
  background: #111;
  margin: 0;
  padding: 1px 10px 2px 10px;
  &:hover {
    background: #F1861F;
  }
}

.go-button {
  @include styled-btn(auto, 1px, 103px);
  background: #F1861F;
  margin: 0;
  padding: 1px 10px;
  float:right;
  &:hover {
    background: #111;
    text-decoration: none;
  }
}

.verify-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: right;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet4.png) 64px 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet4.png) 64px 6px no-repeat;
  }
}

.reject-button {
  @include styled-btn(auto, 1px, 114px, 'bullet4.png');
  float: left;
  margin: 0;
  padding: 1px 30px 0 12px;
  background: #111 url(bullet7.png) 68px 6px no-repeat;
  &:hover {
    background: #F1861F url(bullet7.png) 68px 6px no-repeat;
  }
}

.cancel-button {
  @include styled-btn(auto, 0, 103px);
  background: #7b797a;
  padding: 1px 16px 2px 16px;
  float: right;
  &:hover {
    background: #111;
  }
}

.pay-button {
  @include styled-btn(auto, 0, 103px);
  margin: 0;
  /*background: #F1861F url(bullet7.png) 68px 6px no-repeat;*/
  background: #F1861F;
  padding: 1px 16px 2px 16px;
  &:hover {
    background: #111;
    /*background: #111 url(bullet7.png) 68px 6px no-repeat;*/
  }
}

.send-button {
  float: right;
  border: none;
  cursor: pointer;
  background: url(bg-text-field.gif) -187px -287px no-repeat;
  width: 75px;
  height: 25px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.button-finish {
  float: right;
  background:url(bg-text-field.gif) -179px -193px no-repeat;
  width:71px;
  height:25px;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  border:none;
  cursor:pointer;
}

// .tab-content .checks-form{
//   width:100%;
//   font-size:12px;
// /*line-height:16px;*/
//   color:#555;
//   padding:20px 0 18px;
// }
// .checks-form .holder{
//   position:relative;
//   width:940px;
//   margin:0 -19px 30px 0;
// }

// .checks-form .holder:after{
//   content:'';
//   display:block;
//   clear:both;
// }

// .checks-form .title{
//   font-size:13px;
//   line-height:16px;
//   float:left;
//   width:455px;
//   padding:0 0 0 6px;
//   font-weight:bold;
//   margin:0 0 20px;
// }
// .checks-form .container4{
//   float:left;
//   width:100%;
//   margin:0 10px 0 0;
// }

// .checks-form .container3{
//   float:left;
//   width:75%;
//   margin:0 10px 0 0;
// }

// .checks-form .container2{
//   float:left;
//   width:50%;
//   margin:0 10px 0 0;
// }

// .checks-form .check{
//   margin:0 15px 0 0;
//   padding:0;
//   float:left;
//   width:16px;
//   height:16px;
// }

// .checks-form .row{
//   margin:0 4px 3px;
//   width:197px;
//   padding:6px 11px;
//   float: left;
// }
// .checks-form .row.alt{background:#f6f3ec;}

#main .tab-content .media h4 {
  padding: 0 0 10px 0;
}

#main .tab-content .section h4 {
  padding: 0 0 15px 3px;
  &.color {
    color: #F3871F;
  }
}

.media {
  padding-top: 15px;
}

.row-selector {
  border-bottom: dotted 1px #ccc;
}

.check-list li {
  clear: both;
  padding: 6px 11px;
  overflow: auto;
}

.check-list label {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.check-list input[type=checkbox] {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 15px 0 0;
}

.age-range-container label{
  width: auto;
}

.age-range-container select {
  width: auto;
  margin: 0 10px;
}

select#start_age, select#end_age{
  width: auto;
  margin: 0 5px;
}

label.raw{
  font-weight: normal !important;
  width:auto !important;
  height:auto !important;
  padding:0 !important;
  border:0 !important;
  margin:3px !important;
  float: none !important;
}

@mixin metrics{
  margin-bottom: 20px;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 10px;
}

#main .tab-content .section-info {
  @include metrics;
  h4 {
    font: 19px/24px Georgia, Times, sans-serif;
    padding: 0 0 10px 10px;
  }
  .item-type {
    overflow: hidden;
    padding: 0 0 9px 11px;
    width: 596px;
  }
  .item-list {
    @include metrics;
  }
  strong {
    float: left;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #111;
  }
  span {
    color: #F3871F;
    font-weight: bold;
    float: left;
  }
  .section-frame {
    float: left;
    width: 260px;
  }
  .video-holder {
    margin-bottom: 20px;
    border-bottom: 1px dotted #CCC;
    padding: 0 20px 10px 20px;
  }
}

.check.carried{
  clear: left;
}

.label.narrow{
  width: auto;
  padding: 0 15px 0 0;
}

.search-form2 .experiences-areas-column{
  $width: 560px;
  position: relative;
  margin: 0 -46px 0 0;
  width: $width;
  overflow: hidden;
}

$graydark: #555;
$graylight: #CCC;
$blackdark: #111;

@mixin span-text($wdth){
  float: left;
  border: none;
  background: none;
  padding: 2px 5px;
  font-size: 13px;
  line-height: 16px;
  color: black;
  width: $wdth;
  height: 16px;
}

@mixin span-bg($bg-y, $wdth){
  float: left;
  padding: 1px;
  background: url(bg-text-field.gif) 0 $bg-y no-repeat;
  width: $wdth;
  height: 20px;
}

@mixin link2button($float: right, $bullet: 'bullet6.png', $color: $blackdark) {
  text-decoration: none;
  cursor: pointer;
  background: $color;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 5px 0 7px;
  float: $float;
  span{
    float: left;
    padding: 1px 24px 0 0;
    background: url($bullet) 99% 6px no-repeat;
  }
}

.link2button_add {
  @include link2button(left, 'bullet4.png');
  position: absolute;
  bottom: 18px;
  float: none;
  left: 0;
  margin: 0 0 0 80px;
}

.link2button_add:hover {
  background: #F0891F;
  text-decoration: none;
}

.link2button_close {
  @include link2button(right, 'bullet4.png', #7b797a);
  padding: 1px 7px 0 7px;
  margin: 0 20px 0 0;
  &:hover {
    background: $blackdark;
    text-decoration: none;
  }
}

.link2button_archive {
  @include link2button(right, 'bullet6.png', #7b797a);
  padding: 1px 7px 0 7px;
  margin: 0 30px 0 0;
  &:hover {
    background: $blackdark;
    text-decoration: none;
  }
}

span.close_terms_dialog {
  @include inline-block;
}

.link2button_cancel,
span.close_terms_dialog {
  @include link2button(right, 'bullet6.png', #7b797a);
  color: #FEF0E3 !important;
  padding: 1px 7px 0 7px;
  margin: 5px 0 0 0;
  &:hover {
    background: $blackdark;
    text-decoration: none;
  }
  &#do-not-cancel-button {
    outline: 0;
  }
}

.link2button_confirm {
  @include link2button(right, 'bullet6.png', #f78f20);
  color: #FEF0E3 !important;
  padding: 1px 7px 0 7px;
  margin: 5px 7px 0 0;
  outline: 0;
  &:hover {
    background: $blackdark;
    text-decoration: none;
  }
}
span.backlink {
  float: right;
  @include inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  height: 25px;

  .link2button_back {
    @include link2button(right, 'bullet6.png', #f78f20);
    color: #FEF0E3 !important;
    padding: 1px 7px 0 7px;
    margin: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
      background: $blackdark;
      text-decoration: none;
    }
  }
  &:after {
    display: table;
    content: ".";
    visibility: hidden!important;
    width: 100%;
    height: 0;
    zoom: 1;
    clear: both;
  }
}

.link2button_edit {
  text-decoration: none;
  cursor: pointer;
  background: #F0891F;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 10px;
  float: right;
  &:hover {
    background: #111;
    text-decoration: none;
  }
}

#content-holder, .content-holder {
  width: 880px;
  padding: 24px 0 0 77px;
  .heading {
    width: 760px;
    margin: -75px 0 20px 0;
    h2 {
      margin: 0 0 6px;
      color: $blackdark;
      font: bold 24px/32px Georgia, Times, sans-serif;
    }
    &.separator {
      border-bottom: 1px solid $graylight;
    }
    &.separator2 {
    }
    a.profile-link-btn {
      @include styled-btn(auto, 1px, 103px);
      font-family: Arial, Helvetica, sans-serif;
      background: #F1861F;
      margin: 0;
      padding: 1px 10px;
      float:right;
      &:hover {
        background: #111;
        text-decoration: none;
      }
    }
  }
  h3 {
    padding: 0 0 10px 0;
    color:  $blackdark;
    font: 21px/24px Georgia, Times, sans-serif;
  }
  h4 {
    color: $blackdark;
    font: 17px/24px Georgia, Times, sans-serif;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
  }
  .margin-wrapper {
    width: 760px;
    margin: 0 0 20px 0;
  }
  .row {
    width: 350px;
    padding: 0 4px 18px 3px;
    &.separator {
      padding: 1px 4px 28px 3px;;
      border-bottom: 1px dotted $graylight;
      margin-bottom: 20px;
      &.last {
        padding-bottom: 49px;
      }
      &.npb {
        padding-bottom: 0;
      }
    }
    &.separator2 {
      padding: 1px 4px 28px 3px;;
      margin-bottom: 20px;
    }
    &.left {
      float: left;
    }
  }
  .row-small {
    width: 165px;
    float: left;
    margin: 0 4px 0 3px;
    padding: 3px 0;
  }
  .row:after, .row-small:after {
    content:'';
    display:block;
    clear:both;
  }
  .column:not(.alter) {
    div.row > label {
      width: 135px;
    }
  }
  .column {
    float: left;
    width:380px;
    margin: 0 28px 0 0;

    &.alter {
      width: 352px;
      margin: 0;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 5px;
    }

    ul {
      &.tick_list {
        margin-bottom: 10px;

        li {
          background-color: transparent;
          background-image: url(image-path('tick_20x20.png'));
          background-repeat: no-repeat;
          padding: 2px 0px 0px 25px;
          min-height: 25px;
          line-height: 18px;
          &.cross {
            background-image: url(image-path('cross_20x20.png'));
          }
        }
        li.plain {
          background-image: none;
          padding: 0px;
        }
        li:first-child {
          margin-bottom: 3px;
        }
      }
    }
  }

  /* POPUP LINK */
  div.minimum_requirements {
    padding: 10px 0 20px 0;

    a.open_minimal_requirements_popup {
      font-weight: bold;
      display:block;
      background-image: url("bullet8.png");
      background-repeat: no-repeat;
      background-position: left center;
      span {
        margin-left: 25px;
        display: block;
      }
    }
  }

  .row_opt_ins {
    float: left;
    width:760px;
  }

  .column-async {
    float: left;
    width:406px;
    margin: 0 52px 0 0;
    &.alter {
      width: 302px;
      margin: 0;
    }
  }
  form#new_advertiser div.column:not(.alter) {
    width: 386px;
    margin-right: 22px;

    div.row label {
      width: 130px;
    }
  }
  label {
    color: $graydark;
    font: 13px/15px Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    font-size: 12px;
    line-height: 16px;
    width: 200px;
    padding: 3px 6px 0 0;
    &.long-label {
      width: 130px;
    }
    &.huge-label {
      width: auto;
      &.alone {
        margin-bottom: 3px;
      }
    }
  }
  .check, .radio-btn {
    float: left;
    width: 16px;
    height: 16px;
    margin: 3px 10px 0 10px;
    padding: 0;
    &.alone {
      margin: 3px 10px 0 0;
    }
  }
  .radio-btn {
    margin: 3px 10px 0 0;
  }
  .label-check, .label-radio {
    width: auto;
    max-width: 580px;
    padding: 0;
    margin: 3px 10px 0 0;
    font-weight: normal;
  }
  .text {
    @include span-bg(-246px, 230px);
    input {
      @include span-text(220px);
      &[type="password"], &[type="email"]{
        width: 220px;
        color: #111;
      }
    }
  }

  .text-small {
    @include span-bg(0, 138px);
    margin: 0 6px 0 0;
    input {
      @include span-text(136px);
      &:disabled {
        background-color: #ccc;
        color: #999;
      }
    }
  }
  select {
    width: auto;
    margin: 0 5px 0 0;
    float: left;
    &.fix-width {
      width: 220px;
    }
    &.fix-width-small {
      width: 125px;
      margin-right: 11px;
    }
  }
  .link2button_start {
    @include link2button(right, 'bullet6.png', #F0891F);
  }

  .link2button_start:hover {
    background: $blackdark;
  }

  .login {
    padding: 15px 20px 20px 20px;
    width: 240px;
  }
  p.color {
    color: #F78F20;
  }
  p.small {
    font-size: 11px;
  }
  strong {
    font-weight: bold;
  }
  span.data {
    color: #F78F20;
    font-weight: bold;
  }
  label.title {
    color: #111;
    text-transform: uppercase;
    padding: 0 6px 0 0;
    letter-spacing: 0;
    width: 105px;
  }
}
@import "partials/buttons";
/* Minimum recording requirements popup */
div.ui-dialog.minimum_requirements_popup {
  padding: 0!important;
  border: 0!important;
  > .ui-dialog-titlebar {
    display:none!important;
  }
  /* content */
  > div#minimum_requirements_popup {
    font: 13px/15px Arial, Helvetica, sans-serif;
    background-color: white;
    background-color: #EED3BE;
    padding: 10px 15px!important;

    div.reqs {
      background-color: white;
      display: block;
      min-height: 130px;
      overflow: auto;
      border: 1px solid #666;
      padding: 10px;
      font-size: 14px;

      header {
        font-weight: bold;
        line-height: 20px;
      }

      > div {
        margin-top: 7px;

        > span {
          display: block;
          color: #333;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    div.button {
      text-align:right;
      padding-top: 10px;
      padding-bottom: 5px;

      a {
        @extend %flat_button_general;
        outline: none;
        max-width: 100px;
        float: right;
        position: relative;
        top: 2px;
      }
    }
  }
}

.hint{
  color: #aaa;
  margin-left: 165px;
  font-style: italic;
  font-size: 11px;
}
.hint2{
  color: #888;
  margin-left: 120px;
  font-style: italic;
  font-size: 11px;
}
.hint3{
  color: #888;
  font-style: italic;
  font-size: 11px;
}

.details-form3{

  .text{
    float: left;
    padding: 1px;
    background: url(bg-text-field.gif) 0 -246px no-repeat;
    width: 230px;
    height: 20px;

    input {

      border: none;
      background: none;
      padding: 2px 5px;
      font-size: 13px;
      line-height: 16px;
      color: black;
      width: 220px;
      height: 16px;
    }
  }

/*.text input {*/

/*float: left;*/
/*border: none;*/
/*background: none;*/
/*padding: 2px 5px;*/
/*font-size: 13px;*/
/*line-height: 16px;*/
/*color: black;*/
/*width: 220px;*/
/*height: 16px;*/
/*}*/
}

dl.non-background{
  background: none;
  padding: 5px 0 0 0;
  width: 540px !important;
}

.heading.advert-name{
  height: auto;
  padding: 0 0 10px 12px;
}

#content .preview-holder {
  background: #E6E6E6;
  overflow: auto;
  padding: 10px 15px;
  margin-bottom: 10px;
  .title-wrapper {
    float: left;
    h2 {
      margin: 0;
      padding: 0;
      border:none;
      // width: 400px;
    }
    a {
      text-decoration: underline;
    }
  }
}

.intro-box .subscription-info {
  float: left;
  border: 1px solid #F78F20;
  width: 250px;
  padding: 12px;
  background: #F6F3EC;
  margin-left: 10px;
  .row {
    margin: 10px 0;
    &.separator {
      padding-bottom: 8px;
      border-bottom: 1px #CCC dotted;
    }
    &.separator2 {
      padding-bottom: 8px;
    }
  }
  strong {
    color: #111;
    font-weight: bold;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 11px;
    margin-top: 3px;
    &.inline {
      display: inline;
    }
  }
}

#cancel-subscription .container {
  padding: 15px 20px;
  background: #F6F3EC;
  width: 400px;
  overflow: hidden;
  h2 {
    color: #111;
    font: bold 24px/32px Georgia, Times, sans-serif;
    margin-bottom: 15px;
  }
  .row {
    padding: 20px 0 15px 0;
    a {
      float: right;
      text-decoration: underline;
    }
  }
  label {
    font-weight: bold;
    display: block;
    width: auto;
    margin-bottom: 6px;
  }
  select {
    margin: 0;
    width: 250px
  }
  #close-button {
    color: #F3871F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
}

html.busy, html.busy * {
  cursor: wait !important;
}

.custom-jquery-ui {
  .ui-dialog-titlebar{
    display: none;
  }
  #cancel-subscription.ui-dialog-content, #warning_popup.ui-dialog-content {
    padding: 0;
  }

}

.btn-container {
  border-bottom: 1px solid #CCC;
  padding-top: 13px;
  margin: 20px 0;
}

.performers-form, .roles-form #hidden-boxes {
  .heading {
    position:relative;
  }
  h3 {
    margin-left: 20px;
  }
  span.bullet {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-image: url('bullet3.png');
  }
}

.slide{
  .hit-label{
    margin-right: 4px;
    float: right !important;
    width: auto !important;
  }
}

.hit-label{
  font-size: 0.7em !important;
}

.orange-btn{
  @include stage_btn();
  &.small{
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    width: 120px;
    text-align: center;
  }
  &.no-bullet{
    background-image: none;
    padding-right: 0.5em;
  }
}

.black-btn{
  @include stage_btn(black, #f78f20);
}

.del-btn{
  @include stage_btn(rgb(123,121,122), black, 'bullet7.png', 90%);
  padding-left: 1em;
  padding-right: 2.5em;
  display: inline-block;
  margin-top: 1em;
}

.righted{
  float: right !important;
}

.lefted{
  float: left !important;
}

label.tooltipized {
  cursor: pointer;
}

.tooltip {
  background:rgba(0,0,0,.9);
  border-radius:10px;
  border:2px solid #FFF;
  color:#FFF;
  -webkit-box-shadow:0 0 0 1px rgba(0,0,0,.5);
  -moz-box-shadow:0 0 0 1px rgba(0,0,0,.5);
  box-shadow:0 0 0 1px rgba(0,0,0,.5);
  position:absolute;
  padding:10px;
  font-family:sans-serif;
  max-width: 230px;
}
.tooltip:before,
.tooltip:after {
  content:'';
  border-style:solid;
  border-width:6px 6px 0;
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-6px;
}
.tooltip:before {
  border-color:rgba(0,0,0,.5) transparent transparent;
  margin-top:2px;
}
.tooltip:after {
  border-color:#FFF transparent transparent;
  margin-top:1px;
}

#paid-results-icon {
  top: 15px;
  right: 20px;
}

#age-range-label {
  padding: 0;
}

.stripped-group-row {
  overflow: auto;
}

// #birth-date {
//   width: 86px;
// }

#warning_popup {
  border: 1px solid red;
  padding: 10px 10px 10px 50px !important;
  min-height: 0 !important;
  background: #F6F3EC url(warning.png) 10px 8px no-repeat;

  span#warning_notice {
    span {
      display: none;
      &.warning_visible {
        display: inline;
      }
    }
  }
}

.details-form2 .next.btn-submit {
  position: static;
  float: right;
}

.btn-holder.margin-b {
  margin-bottom: 20px;
}

.save-fixer {
  margin: -20px 0 0 0;
}

.next-button {
  float: right;
  font-size: 0;
  line-height: 0;
  width: 68px;
  height: 25px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  background: url(bg-text-field.gif) 0 -193px no-repeat;
}

.text-small {
  @include span-bg(0, 138px);
  margin: 0 6px 0 0;
  input {
    @include span-text(128px);
  }
}

label#check-confirmation {
  width: 300px;
  font-weight: normal;
}

audio {
  width: 570px;
  background: #222;
}

.flash-error {
  border: 1px solid red;
  padding: 10px 10px 10px 50px;
  margin: -25px 0 20px 0;
  background: #F6F3EC url(warning-s.png) 16px 11px no-repeat;
  width: 700px;
  span {
    text-align: left;
    padding: 5px 5px 8px 0;
    font-size: 14px;
    line-height: 18px;
  }
}

#sign_in_container .flash-error {
  margin-top: 15px;
  width: auto;
}

.closed {
  margin: 0 0 5px 0;
  width: auto;
}

.with_clear_fields{
  color: red;
}

.clear_field_blur{
  color: #666 !important;
}

.email-form, .email_confirmation, .close_confirmation, .delete_confirmation, .cancel_confirmation, .terms_popup {
  width: 272px;
  background: #E4E4E4;
  padding: 10px 12px 7px 16px;
  h3 {
    color: #111;
    margin: 0 0 9px;
    font: 19px/22px Georgia, Times, sans-serif;
  }
  .discard-link {
    color: #F3871F;
    font-size: 12px;
    text-decoration: underline;
  }
}

.email_confirmation, .close_confirmation, .delete_confirmation {
  background: #F6F3EC;
}

.close_confirmation, .delete_confirmation, .cancel_confirmation {
  background: #F6F3EC url(warning.png) 0px 5px no-repeat;
  padding-left: 40px;
}

#rejection_email.ui-dialog-content, #email_container.ui-dialog-content {
  padding: 0;
  background: #F6F3EC;
}

.ajax_overlay {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.non-paid {
  width:60px;
  font-size:9px;
  line-height:10px;
  font-weight:bold;
  float:right;
  text-align: center;
  img {
    display: block;
    margin: 2px auto;
    height: 22px;
    width: 22px;
  }
  span {
    cursor: default;
  }
}

#non-paid-results {
  top: 15px;
  right: 1px;
}

#non-paid-show {
  top: 2px;
}

#warning_ok {
  float: right;
}

.profile-title {
  margin: 0 0 10px 4px;
  h2 {
    display: inline;
  }
  .small-link {
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 0 2px;
  }
}

#advert_tab_form {
  width: 760px;
}

#advert_tab_form {
  textarea {
    width: 100%
  }

}
.gray-back{
  background-color: #ccc !important;
  opacity: 0.2;
}

.gray-text{
  color: gray !important;
}

p.indent-left {
  padding-left: 2px;
  word-wrap: break-word;
}

.title-name {
  font-size: 13px;
  color: #222;
  font-weight: bold;
}

select.custom-size {
  height: 22px;
  width: 85px !important;
}

.top-buttons {
  float: right;
}

h3.left {
  float: left;
}

dd.title-squeeze {
  margin: 0 56px 0 0;
}

.red-border{
  border: 1px solid red;
}

#experience dl{
  &:nth-child(even) {
    background:none;
  }
  dd {
    text-transform: none;
  }
}

#basic-moderation {
  h2 {
    color: #111;
    font: 24px/30px Georgia, Times, sans-serif;
    margin-bottom: 10px;
  }
  h3 {
    color: #111;
    font: 19px/24px Georgia, Times, sans-serif;
    margin-bottom: 10px;
  }
}
#objections {
  .objection {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #CCC;
    .links-row {
      overflow: hidden;
      margin-top: 8px;
      a {
        float: right;
        margin: 0;
      }
      .send-msg {
        float: left;
      }
    }
  }
  label {
    font-weight: bold;
    color: #111;
    font-size: 13px;
    text-transform: uppercase;
  }
  span {
    color: #F3871F;
  }
  .row {
    margin-bottom: 5px;
  }
}

#moderation {
  .remarks, .inappropriate {
    clear: both;
    overflow: hidden;
  }
  .inappropriate {
    margin-top: 15px;
    .button-container {
      margin: 10px 0;
    }
    .row {
      margin-bottom: 5px;
    }
  }
}

.complaints-holder {
  overflow: hidden;
}

.complaint-holder {
  width: 400px;
  float: left;
  border: 1px solid #CCC;
  padding: 15px;
  margin: 0 15px 15px 0;
  label {
    font-weight: bold;
    color: #111;
    font-size: 13px;
    text-transform: uppercase;
  }
  span {
    color: #F3871F;
  }
  .row {
    margin-bottom: 5px;
  }
  .links-row {
    margin-top: 15px;
    overflow: hidden;
    .del-btn {
      margin: 0;
    }
  }
  p {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 5px;
    word-wrap: break-word;
  }
}

.new-objection {
  margin: -59px 0 0 20px;
  h2 {
    color: #111;
    font: 24px/30px Georgia, Times, sans-serif;
    margin-bottom: 10px;
  }
  .row {
    margin-bottom: 5px;
  }
  .button-container {
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.notification {
  margin: -59px 0 0 20px;
  width: 450px;
  h2 {
    color: #111;
    font: 24px/30px Georgia, Times, sans-serif;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
  }
  .row {
    margin-bottom: 5px;
  }
  .button-container {
    margin: 10px 0;
    overflow: hidden;
  }
  label {
    font-weight: bold;
    color: #111;
    font-size: 13px;
    text-transform: uppercase;
  }
  span {
    color: #F3871F;
  }
  .objection {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #CCC;
    .links-row {
      overflow: hidden;
      margin-top: 8px;
      a {
        float: right;
        margin: 0;
      }
      .send-msg {
        float: left;
      }
    }
  }
}

.no-border{
  border: none !important;
}

.no-back{
  background: none !important;
}

.placeholder {
  color: #aaa !important;
}

.print-box .print{
  letter-spacing:-1px;
  white-space:nowrap;
  top:5px;
  right:1px;
  position:absolute;
  background:url(ico-print.gif) 50% 0 no-repeat;
  padding:42px 0 0;
  text-align:center;
  width:50px;
  font-size:9px;
  line-height:11px;
  color:#f3871f;
}

#physical_description_tab_form {
  width: 860px;
}

.payment-form {
  overflow: hidden;
  width: 760px;
}

.error_color {
  color: red;
}

.buttons-container {
  overflow: hidden;
  margin-bottom: 50px;
  .link2button_try_again {
    @include link2button(left);
    background: #F0891F;
    &:hover {
      background: #111;
      text-decoration: none;
    }
  }
  a.cancel {
    float: right;
  }
}

.cleared{
  clear: both;
}

#results-text {
  text-transform: none;
}

.ui-dialog .ui-dialog-buttonpane {
  margin: .0;
  padding: 0 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
  border: none;
  text-transform: uppercase;
  float: left;
  cursor: pointer;
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  color: #FEF0E3;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding: 0 16px;
  background: #F1861F;
  &:hover {
    background: #111;
  }
}

.photo-list .photo.rejected{
    border: 1px solid red;
}

.avatar-block .photo-holder.rejected{
  border: 1px solid red;
  strong.title{
    color: #d10208;
  }
}

.avatar-block .holder .text-holder{
  .title{
    span.rejected_photo{
      color: red;
      font-size: 0.8em;
      }
  }
}
.upload-progress{
  .upload{
    margin-bottom: 5px;
    .progress{
      width: 300px;
      border: 2px solid #222222;
      position: relative;
      .mark{
        position: absolute;
        top: 0.5em;
        left: 1em;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 280px;
      }
      .bar{
        background-color: #5ac944;
        min-height: 30px;
        line-height: 2em;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

.nmw_hint {
  clear: both;
  margin-top: 5px;
  margin-left: 28px;
}


#advertiser_roles_description {
  p {
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    em {
      font-style: italic;
    }
  }
}

.simple_form {
  padding: 13px;
  margin-bottom: 26px;
  div.input {
    margin-bottom: 10px;
    clear: both;
  /* Required for Webkit, but not for Gecko */
  }
  input {
    padding: 8px 12px;
  }
  label {
    float: left;
    width: 150px;
    text-align: right;
    margin: 2px 10px;
  }
  select {
    width: auto;
  }
  fieldset.inline {
    display: inline-block;
  }
}

.simple_form input[type='submit'] {
  margin-left: 120px;
  float: right;
  @extend %flat_button_confirm
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  border-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 170px;
    margin-bottom: 5px;
  }
  .hint {
    clear: left;
    margin-left: 170px;
    color: #555;
    display: block;
    font-style: italic;
    margin-bottom: 5px;
  }
}

input {
  &.boolean {
    margin-right: 5px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

// SimpleForm Inline Checkbox Fix
.simple-checkbox .checkbox {
  text-align: left;
  width: auto;
  float: none;
}

#content {
  h2 {
    letter-spacing:-1px;
    margin:0 0 14px 1px;
    color:#000;
    padding:0 0 12px 2px;
    border-bottom:1px solid #ccc;
    font:bold 24px/32px Georgia, Times, sans-serif;
    &#latest_heading {
      margin: 0 0 7px 0;
      padding: 0 0 6px 1px;
      border-bottom: none;
    }
    .alter {
      margin:0 0 15px 1px;
      padding:0 0 17px 2px;
    }
  }

  #latest_heading_copy {
    margin: 0 0 14px 1px;
    padding: 0 0 12px 2px;
  }
}

#content .column h3{
  color:#fff;
  margin:0 0 1px;
  border-top:1px solid #fbbe82;
  padding:0 10px 0 40px;
  letter-spacing:-1px;
  font:bold 20px/36px Georgia, Times, sans-serif;
  background:#ed831f url(icons.png) 7px -519px no-repeat;
}
#content .column.alt h3{
  border-top:1px solid #7d797b;
  background:#686868 url(icons.png) 7px -416px no-repeat;
}
