@mixin plain_btn($color:#F3871F, $decoration:underline){
  background:none;
  border:0;
  color: $color;
  cursor: pointer;
  &:hover{
    text-decoration: $decoration;
  }
}

@mixin linked{
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

/*
    defaults are:
       bullet, '->'
       back_color, the orange
       hvr_color, black
*/
@mixin stage_btn($back_clr: #f78f20, $hvr_color: black, $back_img: 'bullet6.png', $img_ver: 97%){
    color: white !important;
    font: bold 12px/15px Arial, Helvetica, sans-serif;
    border: none;
    text-transform: uppercase;
    background: $back_clr url($back_img) $img_ver 50% no-repeat;
    padding: 0.5em;
    padding-right: 2em;
    &:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: $hvr_color;
    }
}

@mixin default-popup{
    padding: 15px 20px;
    background: #F6F3EC;
    h2 {
        color: #111;
        font: bold 24px/32px Georgia, Times, sans-serif;
    }
    p {
        padding: 1em 0;
    }
}

@mixin small-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

@mixin center-checks{
    input[type="checkbox"]{
        height: 16px;
        margin-right: 10px;
    }
    label{
        vertical-align: top;
    }
}

@mixin inline-block{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: middle;
  zoom: 1;
  *display: inline;
}

@mixin pointer-events($type: none) {
  $type: unquote($type);
  pointer-events: $type;
  -moz-pointer-events: $type;
  -webkit-pointer-events: $type;
  -o-pointer-events: $type;
  -ms-pointer-events: $type;
  -khtml-pointer-events: $type;
}
