#advertising-top {
  background-color: white;
  padding: 5px 0;
  ul {
    display-list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      &#ad215x90 {
        margin-right: 10px;
        width: 215px;
        height: 90px;
        }
      &#ad728x90 {
        width: 728px;
        height: 90px;
        }
      }
    }
}