// Mixins
// -------------------------

@mixin menu-link($normal_color: black, $hover_color: $site_key_color) {
  &:link, &:visited {
    color: $normal_color;
  }
  &:hover, &:focus {
    color: $hover_color;
  }
}

$sans_serif_font: unquote("'Helvetica Neue', Helvetica, Arial, sans-serif") !default;
$serif_font: unquote("'Plantin W01 Bold', Georgia, 'Times New Roman', Times, serif") !default;
$link_color: $site_key_color !default;
$dark_link_color: darken($site_key_color, 0.5) !default;

@mixin franklin_gothic_font {
  font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
  font-weight: normal;
}

@mixin plantin_font {
  font-family: 'Plantin W01 Bold', Georgia, 'Times New Roman', serif;
  font-weight: normal;
}

@mixin plain_btn($color:#F3871F, $decoration:underline){
  background:none;
  border:0;
  color: $color;
  cursor: pointer;
  &:hover{
    text-decoration: $decoration;
  }
}

@mixin linked{
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

/*
    defaults are:
       bullet, '->'
       back_color, the orange
       hvr_color, black
*/

@mixin stage_btn($back_clr: #f78f20, $hvr_color: black, $back_img: 'bullet6.png', $img_ver: 97%){
    color: white !important;
    font: bold 12px/15px Arial, Helvetica, sans-serif;
    border: none;
    text-transform: uppercase;
    background: $back_clr url($back_img) $img_ver 50% no-repeat;
    padding: 0.5em;
    padding-right: 2em;
    &:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: $hvr_color;
    }
}

@mixin default-popup{
    padding: 15px 20px;
    background: #F6F3EC;
    h2 {
        color: #111;
        font: bold 24px/32px Georgia, Times, sans-serif;
    }
    p {
        padding: 1em 0;
    }
}

@mixin small-font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

@mixin center-checks{
    input[type="checkbox"]{
        height: 16px;
        margin-right: 10px;
    }
    label{
        vertical-align: top;
    }
}

@mixin inline-list {
  list-style-type: none;
  &, & li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

// Turn off the bullet for an element of a list
@mixin no-bullet {
  list-style-image : none;
  list-style-type  : none;
  margin-left      : 0;
}

// turns off the bullets for an entire list
@mixin no-bullets {
  list-style: none;
  li { @include no-bullet; }
}

@mixin reset-box-model {
  margin:   0;
  padding:  0;
  border:   0;
}

@mixin inline-block-list-container($padding: false) {
  @include reset-box-model;
  @include clearfix;
}

@mixin inline-block-list-item($padding: false) {
  @include no-bullet;
  @include inline-block;
  white-space: nowrap;
  @if $padding {
    padding: {
      left: $padding;
      right: $padding;
    };
  }
}

@mixin inline-block-list($padding: false) {
  @include inline-block-list-container;
  li {
    @include inline-block-list-item($padding);
  }
}