footer#footer {
  @include outer-container;
  margin-top: 0px;
  margin-bottom: 30px;
  .container {
    border: 1px solid $site_border_color;
    border-top-width: 0px;
    background-color: $site_footer_bg_color;
    @include clearfix;
  }
  #footer-stage-links {
    @include span-columns(16);

    h1 {
      margin: 10px 0 5px;
      padding-bottom: 10px;
      font-size: 20px;
      border-bottom: 1px solid $site_border_color;
    }
    h2 {
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid $site_border_color;
    }
  }

  nav {
    @include clearfix;
    &#footer-stage-links-primary {
      @include franklin_gothic_font;
      text-transform: uppercase;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 15px;
      }
      a {
        @include menu-link(black, $site_key_color);
        padding-left: 25px;
        background: url('circle-rchevron-grey.png') left center no-repeat;
        &:hover, &:focus {
          background-image: url('circle-rchevron-red.png');
        }
      }
      li.events a {
        @include menu-link($events_color, black);
        &:hover, &:focus {
          background-image: url('circle-rchevron-blue.png');
        }
      }
      li.directory a {
        @include menu-link($directory_color, black);
        &:hover, &:focus {
          background-image: url('circle-rchevron-green.png');
        }
      }
      li.jobs a {
        @include menu-link($stage_purple, black);
        &:hover, &:focus {
          background-image: url('circle-rchevron-purple.png');
        }
      }
    }
    &#footer-stage-links-secondary {
      margin-bottom: 20px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 15px;
      }
      a {
        @include menu-link(black, $site_key_color);
        padding-left: 25px;
        line-height: 18px;
        font-size: 12px;
        background: url('rchevron-black.png') left center no-repeat;
        &:hover, &:focus {
          background-image: url('circle-rchevron-black.png');
        }
      }
    }
  }
  .col1, .col2, .col3 {
    @include span-columns(5 of 16);

  }
  .col3 {
    @include omega();

  }

  #footer-marketing {
    @include span-columns(8);

    #footer-social-media ul {
      @include inline-block-list;
      margin-top: 10px;
      border-bottom: 1px solid $site_border_color;
      a.ss-icon {
        font-size: 20px;
        color: $stage_dark_grey;
        &:hover, &:focus {
          color: black;
        }
      }
      a.link-more {
        color: $stage_dark_grey;
        font-size: 10px;
        margin-left: 10px;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover, &:focus {
          color: black;
        }
      }
    }
  }

  .footer-text {
    @include outer-container;

    font-size: 11px;
    margin-top: 5px;
    @include clearfix;
    .copyright {
      @include span-columns(12);

    }
    .policies {
      @include span-columns(12);

      text-align: right;
      ul {
        @include inline-list;
        li {
          &:after {
            content: "|";
            padding-left: 2px;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }
}