.login-form{
  @include span-columns(12);
  @include omega();
  ul {
    position: relative;
    float: right;
    word-spacing: 2px;
    margin: 0 -3px 4px 0;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
  }
  fieldset {
    border: 0;
  }
}

.login-form ul li{
	float:left;
	padding:0 3px 0 6px;
	background:url(bullet.gif) 0 50% no-repeat;
}
.login-form ul li:first-child{
	background:none;
	padding-left:0;
}

.login-form ul li label{
    float: none;
    line-height: 14px;
}

.login-form ul a{color:#000;}
.login-form .row{
	float:right;
	width:432px;
	padding:7px 8px 5px 11px;
	background:#fef0e3;
}
.login-form label{
	float:left;
	text-transform:uppercase;
	font-size:11px;
	line-height:22px;
	font-weight:bold;
	color:#000;
	width:72px;
	padding:0 5px 0 0;
}
.login-form .text{
	float:left;
	margin:0 6px 0 3px;
	width:140px;
	height:22px;
	background:url(bg-text-field.gif) no-repeat;
}
.login-form .text input{
	float:left;
	width:128px;
	height:14px;
	font-size:11px;
	line-height:14px;
	padding:4px 6px;
	color:#545454;
	border:none;
	background:none;
}
.login-form .btn-submit{
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	width:38px;
	height:22px;
	float:left;
	cursor:pointer;
	border:none;
	background:url(bg-text-field.gif) -152px 0 no-repeat;
}

.row .btn{
  word-spacing:3px;
  float:left;
  background:#000;
  position:relative;
  margin:-2px 0 0;
  padding:0 6px 0 9px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
}
.row .btn span{
  float:left;
  padding:1px 24px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
}
.row .btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#f0891f;
}

.row.mini{
    padding: 0 8px 0 11px;
    input[type="checkbox"]{
        height: 14px;
      float: left;
      margin: 3px 3px 0 0;
    }
    .container {
      width: 145px;
      float: left;
    }
    .remember, .forgot {
      float: right;
    }
    .forgot {
      padding-top: 3px;
    }
    .spacer {
      width: 79px;
      height: 14px;
      float: left;
    }
}

#remember_me{
    font-weight: normal;
    text-transform: none;
    float: none;
}

#forgot_password{
    font: 11px/15px Arial, Helvetica, sans-serif;
}
