/* GLOBAL NAVIGATION */
/* GLOBAL SITE NAVIGATION */
#navigation-global {
  background-color: $alternate_highlight;
  border-bottom: 1px solid $site_border_color;
  padding: 7px 0 3px;
  margin: 0 0 10px;
  z-index: 10000;
  .container {
    position: relative;
    @include clearfix;
  }
  a#globalhome {
    display: inline-block;
    float: left;
  }
  .menu-wrapper {
    float: right;
    padding: 0;
    text-align: right;
  }
  ul {
    display: inline;
    list-style: none;
    @include inline-block-list;
    @include franklin_gothic_font;
    text-transform: uppercase;
    li {
      list-style-image: none;
      list-style-type:  none;
      margin-left: 0;
      font-size: 115%;
      margin-left: 0.5em;
      a {
        text-decoration: none;
        font-weight: normal;
        @include menu-link(black, $site_key_color);
        &.external {
          &:link, &:visited {
            color: $site_key_color;
          }
        }
      }
      &[data-name=events] a {
        @include menu-link($stage_blue, black);
      }
      &[data-name=directory] a {
        @include menu-link($stage_green, black);
      }
      &[data-name=castings] a {
        @include menu-link($stage_orange, black);
      }
      &[data-name=jobs] a {
        @include menu-link($stage_purple, black);
      }
    }
  }
}
