nav#nav-secondary {
  background-color: $site_bg_color;
  border: 1px solid $site_border_color;
  margin: 5px 0;
  padding: 5px;
  @include franklin_gothic_font;
  font-size: 14px;
  ul.subcategories {
    @include inline-list;
  }
  .hot-topics-nav {
    display: inline-block;
    margin-left: 20px;
    span {
      text-transform: uppercase;
    }
    ul {
      @include inline-list;
    }
    a {
      @include menu-link($site_key_color, black);
      background-image: url('circle-rchevron-red.png');
    }
  }
  a {
    @include menu-link(black, $site_key_color);
    white-space: nowrap;
    padding-left: 16px;
    margin-right: 7px;
    background: url('circle-rchevron-black.png') no-repeat center left;
  }
  .selected a {
    background-image: url('circle-rchevron-green.png');
  }
}

