$sans_serif_font: unquote("'Helvetica Neue', Helvetica, Arial, sans-serif") !default;
$serif_font: unquote("'Plantin W01 Bold', Georgia, 'Times New Roman', Times, serif") !default;
$link_color: $site_key_color !default;
$dark_link_color: darken($site_key_color, 0.5) !default;

@mixin franklin_gothic_font {
  font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
  font-weight: normal;
}

@mixin plantin_font {
  font-family: 'Plantin W01 Bold', Georgia, 'Times New Roman', serif;
  font-weight: normal;
}

@mixin georgia_font_bold {
  font-family: Georgia, Times, sans-serif;
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

body {
  font-family: $sans_serif_font;
  font-size: small;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  @include georgia_font_bold;
}

a:link {
  color: $link_color;
  text-decoration: none;
}
a:visited {
  color: $dark_link_color;
}
a:hover, a:focus {
  color: black;
  text-decoration: underline;
}

#page_header h1 {
  font-size: 25px;
}

p {
  margin-bottom: 0.5em;
}
