#user-logged {
  @include span-columns(6);
  @include omega();
  float: right;
  word-spacing: 2px;
  margin: 10px 2px;
  font-weight: bold;
  padding: 7px 9px 5px 3px;
  background: #fef0e3;

  a.logout
  {
    padding: 0 4px 0 12px;
    color: #f3871f;
    background: url(separator.gif) 0 50% no-repeat;
  }

  a.profile
  {
    padding: 0 4px;
    color: #000;
    background: none;
  }

}