%footer#footer
  .container
    #footer-stage-links
      %h1=link_to image_tag('footer/thestage_logo_420.png', :alt => 'The Stage', size: '130x21'), 'http://www.thestage.co.uk'
      %nav#footer-stage-links-primary
        .col1
          %ul
            = link_to_menu_item 'news'
            = link_to_menu_item 'reviews'
            = link_to_menu_item 'features'
            = link_to_menu_item 'columns'
        .col2
          %ul
            = link_to_menu_item 'listings'
            = link_to_menu_item 'training'
            = link_to_menu_item 'subscribe'
            = link_to_menu_item 'advice'
        .col3
          %ul
            = link_to_menu_item 'directory'
            = link_to_menu_item 'castings'
            = link_to_menu_item 'jobs'
      %h2 More from The Stage
      %nav#footer-stage-links-secondary
        .col1
          %ul
            = link_to_menu_item 'about', "About The Stage"
            = link_to_menu_item 'advertise', "Advertise with The Stage"
            = link_to_menu_item 'contact', "Contact Us"
        .col2
          %ul
            = link_to_menu_item 'archive', 'Archive (1880 - 2007)'
            = link_to_menu_item 'digital', 'Digital edition'
            = link_to_menu_item 'apps', 'Mobile apps'
        .col3
          %ul
            = link_to_menu_item 'win', 'Competitions'
            = link_to_menu_item 'stagetalk', 'StageTalk'
            %li
              = link_to 'LoveArts.com', "http://www.lovearts.com"
    #footer-marketing
      #footer-social-media
        %ul
          %li= link_to 'RSS', 'http://www.thestage.co.uk/feed', :class => 'ss-icon ss-social-circle social-rss'
          %li= link_to 'Facebook', 'https://www.facebook.com/TheStage', :class => 'ss-icon ss-social-circle'
          %li= link_to 'Twitter',  'https://twitter.com/TheStage', :class => 'ss-icon ss-social-circle'
          %li= link_to 'YouTube', 'https://www.youtube.com/thestagenewspaper', :class => 'ss-icon ss-social-circle'
          %li= link_to 'GooglePlus', 'https://plus.google.com/105652511636933114307', :rel => 'publisher', :class => 'ss-icon ss-social-circle'
          %li= link_to 'All social media accounts', '/about/social', :class => 'link-more'
      .marketing-promo
        = link_to image_tag('home/placeholders/newsletter_link.jpg', width: 300), 'http://www.thestage.co.uk/newsletter/'
      .marketing-promo
        = link_to image_tag('home/jobsapp.gif', alt: 'The Stage Jobs and Auditions app', width: 300), 'http://www.thestage.co.uk/app'
  .footer-text
    .copyright
      Copyright &copy; #{Time.now.year} Stage Media Company Limited
    .policies
      %ul
        %li=link_to content_tag(:abbr, 'Site T&Cs', title: 'Terms and conditions'), 'http:/www.thestage.co.uk/terms/'
        %li=link_to content_tag(:abbr, 'Castings T&Cs', title: 'Castings terms and conditions'), 'http://castings.thestage.co.uk/terms-of-use/'
        %li=link_to content_tag(:abbr, 'FAQ', title: 'FAQ'), 'http://castings.thestage.co.uk/faqs/'
        %li=link_to 'Support', 'http://castings.thestage.co.uk/messages/new'
        %li=link_to "House rules for comments", "http://www.thestage.co.uk/terms/house-rules/"
        %li=link_to "Privacy policy", "http://www.thestage.co.uk/terms/privacy/"
        %li=link_to "Cookie policy", "http://www.thestage.co.uk/terms/cookies/"
