%meta{charset: Rails.application.config.encoding}

<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
%title
  = browser_title(yield(:title))

= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present?
= raw %(<link rel"canonical" content="#{@canonical}" />) if @canonical.present?
= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend
= yield :meta

= stylesheet_link_tag "application"

= stylesheet_link_tag "http://fast.fonts.com/cssapi/a8e407ad-77eb-467e-b63d-ce348ad20cf3.css", media: 'all'
= stylesheet_link_tag "webfonts/ss-social", media: 'all'
= stylesheet_link_tag "webfonts/ss-standard", media: 'all'

= yield :stylesheets

/[if lt IE 9]
  %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

= insert_dfp_header

= render '/stage_assets/castings/google_analytics'

= javascript_include_tag 'modernizr-min'

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
