#navigation-global
  .container
    = link_to 'http://www.thestage.co.uk/', id: 'globalhome' do
      = image_tag('stage_assets/stage_co_uk_logo.png', id: 'globalnav-sitelogo', alt: 'thestage.co.uk')
    .menu-wrapper
      %ul
        = link_to_global_nav 'news'
        = link_to_global_nav 'reviews'
        = link_to_global_nav 'people'
        = link_to_global_nav 'opinion'
        = link_to_global_nav 'listings'
        = link_to_global_nav 'training'
        = link_to_global_nav 'archive', 'Archive', :class => 'external'
        = link_to_global_nav 'directory', 'Directory', :class => 'external'
        = link_to_global_nav 'castings', 'Castings', :class => 'external'
        = link_to_global_nav 'jobs', 'Jobs', :class => 'external'
        = link_to_global_nav 'dating', 'Dating', :class => 'external'
        = link_to_global_nav 'subscribe'
