.placeholder.video
  = youtube_embed('http://youtu.be/vRtoI82lxzM',300,169)
.placeholder.ad-mpu-container
  = insert_dfp_tag(:topright)
.placeholder
  = link_to image_tag('home/sidebar_jobs.gif', width: 300, alt: 'The Stage Jobs'), 'http://www.thestage.co.uk/recruitment/'
.placeholder
  =link_to image_tag('footer/stage-app-subscribe.gif', alt: 'Subscribe to The Stage App', width: 300), 'http://www.subscription.co.uk/stageapp/land'
.placeholder
  =link_to image_tag('footer/stage-subscribe.gif', alt: 'Subscribe to The Stage', width: 300), 'http://www.thestage.co.uk/subscribe/'
.ad-mpu-container
  = insert_dfp_tag(:bottomright)
