@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

@mixin bullet-list {
  list-style-image: url(image-path('bullet3.png'));
  list-style-type: disc;
  margin: 0 2em;
}
