@import "neat-helpers";

$visual-grid: true;

$column: 90px;
$gutter: 10px;
$grid-columns: 24;
$max-width: 960px;

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);
