/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

@import 'stage_assets';
@import 'rss_feed';
@import 'grid';
@import 'partials/acceptance_boxes';
@import 'roles_2';
@import 'partials/tables';
@import 'footer';
@import 'devise/mini_session';
@import 'thank';
@import 'confirmation';
@import 'partials/more_options';
@import 'partials/buttons';
@import 'partials/roles_counter';
@import 'lightbox';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
     *zoom: 1;
}

#performer-navigation {
  margin-top: 10px;
  height: 26px;
  line-height: 25px;

  .btns-left,
  .btns-right {
    @include inline-block;
  }
  .btns-right {
    float: right;
  }

  .btn-performer-upgrade {
    @extend %flat_button_confirm;
    @include stage_flat_button_include_icon('circle-linearrow-right-white.png');
  }

  a:not(.btn-performer-upgrade) {
    @include inline-block;
    padding-right: 5px;
    margin-right: 3px;
    border-right: 1px solid #f78f20;

    &:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
    }
  }

  &:after {
    display: block;
    width: 100%;
    height: 1%;
    zoom: 1;
    clear: both;
    content: ".";
    visibility: hidden;
  }
}


// TODO: make this dev mode only
// span.translation_missing {
//   background-color: yellow;
//   color: red;
//   outline: 1px dotted red;
//   position: relative;
// }

#wrapper{
  padding:20px 0 0;
  width:100%;
  overflow:hidden;
}
a.hidden{
  position:absolute;
  top:0;
  left:-9999px;
}
.ad-wrapper{
  width:962px;
  margin:0 auto 14px;
  overflow:hidden;
}
.ad-wrapper .ad{
  float:left;
  margin:0 29px 0 0;
}
.ad-wrapper .ad2{
  margin:0;
  padding:1px 0;
}
.ad-wrapper img{vertical-align:top;}

.scrolled-off {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.logo{
  margin:2px 0 0;
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(logo.gif) no-repeat;
  width:161px;
  height:17px;
}
.logo a{
  display:block;
  height:100%;
}
#header .subscribe-form{
  float:right;
  font-size:12px;
  line-height:20px;
}
.subscribe-form .row{float:left;}
.subscribe-form label{
  word-spacing:1px;
  font-weight:bold;
  float:left;
  margin:0 28px 0 0;
  color:#fff;
}
.subscribe-form .text{
  float:left;
  background:url(bg-text-field.gif) 0 -47px no-repeat;
  width:201px;
  height:21px;
  margin:0 3px 0 0;
}
.subscribe-form .text input{
  float:left;
  background:none;
  border:none;
  padding:3px 6px;
  width:189px;
  height:15px;
  font-size:12px;
  line-height:15px;
  font-weight:bold;
  color:#000;
}
.subscribe-form .btn-submit{
  margin:1px 0 0;
  cursor:pointer;
  float:left;
  border:none;
  width:21px;
  height:20px;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  background:url(bg-text-field.gif) -205px -48px no-repeat;
}
.nav-wrapper{
  width:960px;
  margin:0 auto;
}
.nav-wrapper .heading{
  width:100%;
  overflow:hidden;
  margin:0 0 14px;
}
.nav-wrapper .text-stage {
  float: left;
  margin-top: 15px;
}

#site-logo {
  display: block;
  position: absolute;
  text-indent: -9999px;
}

.nav-wrapper .login-form{
  float:right;
  width:432px;
}
.login-form ul{
  position:relative;
  float:right;
  word-spacing:2px;
  margin:0 -3px 4px 0;
  font-weight:bold;
  font-size:11px;
  line-height:14px;
  text-transform:uppercase;
}
.login-form ul li{
  float:left;
  padding:0 3px 0 6px;
  background:url(bullet.gif) 0 50% no-repeat;
}
.login-form ul li:first-child{
  background:none;
  padding-left:0;
}

.login-form ul li label{
    float: none;
    line-height: 14px;
}

.login-form ul a{color:#000;}
.login-form .row{
  float:right;
  padding:7px 8px 5px 11px;
  background:#fef0e3;
}
.login-form label{
  float:left;
  text-transform:uppercase;
  font-size:11px;
  line-height:22px;
  font-weight:bold;
  color:#000;
  width:72px;
  padding:0 5px 0 0;
}
.login-form .text{
  float:left;
  margin:0 6px 0 3px;
  width:140px;
  height:22px;
  background:url(bg-text-field.gif) no-repeat;
}
.login-form .text input{
  float:left;
  width:128px;
  height:14px;
  font-size:11px;
  line-height:14px;
  padding:4px 6px;
  color:#545454;
  border:none;
  background:none;
}
.login-form .btn-submit{
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  width:38px;
  height:22px;
  float:left;
  cursor:pointer;
  border:none;
  background:url(bg-text-field.gif) -152px 0 no-repeat;
}

#main{
  padding: 72px 7px 10px 10px;
  margin:0 auto;
  border:1px solid #ccc;
}

.admin-container {
  #main {
    padding: 5px 0px 0px 0px;
  }
}

#main:after{
  content:'';
  display:block;
  clear:both;
}
#main .search-form2{
  width:941px;
  position:relative;
  margin:-60px 0 0;
  z-index:1;
}
.search-form2 .heading{
  padding:4px 0 15px;
  width:100%;
}
.search-form2 .heading:after{
  content:'';
  display:block;
  clear:both;
}
#main .search-form2 h2{
  float:left;
  color:#111;
  font:24px/26px Georgia, Times, serif;
}
.search-form2 .heading .btn-frame{float:right;}
.search-form2 .btn-frame .post{
  float:left;
  font-size:12px;
  line-height:24px;
  text-transform:uppercase;
  color:#fff;
  font-weight:bold;
  padding:0 4px 0 9px;
  background:#f3871f;
  margin:0 16px 0 0;
}
.search-form2 .btn-frame .post span{
  float:left;
  padding:1px 28px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
}
.search-form2 .btn-frame .edit:hover,
.search-form2 .btn-frame .post:hover{
  text-decoration:none;
  cursor:pointer;
  background:#000;
}
.search-form2 .btn-frame .edit{
  font-weight:bold;
  float:left;
  font-size:12px;
  line-height:24px;
  text-transform:uppercase;
  color:#fff;
  padding:0 6px 0 12px;
  background:#969696;
}
.search-form2 .btn-frame .edit span{
  float:left;
  padding:1px 26px 0 0;
  background:url(bullet6.png) 100% 6px no-repeat;
}
.search-form2 .form-wrap{
  position:relative;
  z-index:5;
  border:1px solid #ccc;
  background:#f6f3ec;
  width:922px;
  margin:0 0 12px;
  padding:16px 0 13px 17px;
}
.search-form2 .form-wrap:after{
  content:'';
  display:block;
  clear:both;
}
.search-form2 .option-frame{
  float:left;
  width:350px;
  margin:0 10px 23px 0;
}
.search-form2 .option-frame.alt{margin:0 10px 9px 0;}
.search-form2 .option-frame .location-block{
  width:346px;
  position:relative;
  margin:0 0 -11px;
  padding:1px 0 0 4px;
  overflow:hidden;
}
.search-form2 .option-frame .location-block  .row-container{
  width:100%;
  overflow:hidden;
  padding:0 0 10px;
}
.search-form2 .option-frame .location-block label{
  font-size:11px;
  line-height:16px;
  font-weight:normal;
  padding:0 10px 0 0;
}
.search-form2 .option-frame .location-block .check{margin:0 6px 0 0;}
.search-form2 .option-frame .row{
  width:100%;
  padding:0 0 21px;
}
.search-form2 .option-frame .row-select{padding:0 0 17px;}
.search-form2 .option-wrap .row{
  width:100%;
  overflow:hidden;
  padding:0 0 9px;
}
.search-form2 .option-frame .row:after{
  content:'';
  display:block;
  clear:both;
}
.search-form2 .label,
.search-form2 label{
  float:left;
  font-weight:bold;
  font-size:12px;
  line-height:16px;
  color:#555;
  padding:0 15px 0 0;
}
.search-form2 .search-container label{
  width:187px;
  padding:0 5px 0 0;
  font-size:12px;
  line-height:22px;
}
.search-form2 .label{
  width:65px;
  padding:0 6px;
}
.search-form2 .search-container {
  float:left;
  width:442px;
  padding:2px 0 0 11px;
}
.search-form2 .title{
  font-size:12px;
  line-height:16px;
  display:block;
  padding:0 0 7px 6px;
  font-weight:bold;
}
.search-form2 .option-wrap .title{padding:0 0 17px;}
.search-form2 .row-select label{
  width:90px;
  padding:0 8px 0 7px;
}
.search-form2 .option-wrap label{
  font-weight:normal;
  width:auto;
  padding:0;
}
.search-form2 .btn-holder{width:100%;}
.search-form2 .btn-holder:after{
  content:'';
  display:block;
  clear:both;
}
.search-form2 .link-holder{
  width:100%;
  overflow:hidden;
  position:relative;
  margin:-14px 0 0;
}
.search-form2 .link-holder a{
  float:left;
  font-size:11px;
  line-height:14px;
  font-weight:bold;
}
.search-form2 .text{
  float:left;
  margin:0 2px 0 0;
  width:208px;
  height:20px;
  padding:1px;
  background:url(bg-text-field.gif) 0 -96px no-repeat;
}
.search-form2 .text input{
  border:none;
  background:none;
  float:left;
  width:198px;
  height:16px;
  padding:2px 5px;
  font-size:13px;
  line-height:16px;
  color:#000;
}
.search-form2 .btn-go{
  text-indent:-9999px;
  overflow:hidden;
  float:left;
  width:38px;
  height:22px;
  background:url(bg-text-field.gif) -212px -96px no-repeat;
}
.search-form2 .alt .link-holder a{margin:0 0 0 5px;}
.search-form2 .btn-search{
  text-transform:uppercase;
  position:relative;
  float:right;
  border:none;
  cursor:pointer;
  font-size:12px;
  line-height:25px;
  height:25px;
  width:88px;
  color:#fef0e3;
  margin:-2px 13px 0 0;
  font-weight:bold;
  padding:0 16px 2px 0;
  background:#000 url(btn-search.png) 69px 6px no-repeat;
}
.search-form2 .btn-search:hover{background:#f1861f url(btn-search.png) 69px 6px no-repeat;}
.search-form2 .btns-holder{
  width:100%;
  float:left;
  position:relative;
  min-height:25px;
}
.search-form2 .btns-holder:after{
  content:'';
  display:block;
  clear:both;
}
.search-form2 .btns-holder .add-btn{
  word-spacing:3px;
  margin:0 0 0 2px;
  float:left;
  padding:0 5px 0 8px;
  font-size:12px;
  line-height:24px;
  background:#f3871f;
  color:#fff;
  text-transform:uppercase;
  font-weight:bold;
}
.search-form2 .btns-holder .btn-less{
  word-spacing:3px;
  float:right;
  padding:0 6px 0 8px;
  font-size:12px;
  line-height:24px;
  background:#6c6c6c;
  color:#fff;
  text-transform:uppercase;
  font-weight:bold;
    margin-right: 5px;
}
.search-form2 .btns-holder .btn-less span{
  padding:1px 38px 0 0;
  background:url(bullet7.png) 100% 6px no-repeat;
  float:left;
}
.search-form2 .btns-holder .btn-less:hover{
  background:#000;
  text-decoration:none;
  cursor:pointer;
}
.search-form2 .btns-holder .btn-update:hover{
  background:#f3871f;
  text-decoration:none;
  cursor:pointer;
}
.btns-holder .btns-wrap{
  width:auto;
  padding:0 0 13px 14px;
  overflow:hidden;
}
.search-form2 .btns-holder .btn-update{
  float:right;
  border:none;
  cursor:pointer;
  text-transform:uppercase;
  font-weight:bold;
  padding:0 4px 0 11px;
  font-size:12px;
  line-height:24px;
  color:#fff;
  background:#000;
}
.search-form2 .btns-holder .btn-update span{
  padding:1px 28px 0 0;
  float:left;
  background:url(btn-search.png) 100% 6px no-repeat;
}
.search-form2 .btns-holder.open .add-btn{display:none;}
.search-form2 .option-list{
  padding:1px 0 0;
  background:#f6f3ec;
  width:203px;
  border:solid #ccc;
  border-width:0 1px 1px 1px;
    overflow: auto;
}
.search-form2 .option-list ul{
  font-size:12px;
  line-height:30px;
  width:100%;
  padding:0 0 14px;
  overflow:hidden;
}
.search-form2 .option-list ul li{
  border-bottom:1px solid #ccc;
  float:left;
  width:100%;
}
.search-form2 .option-list ul a{
  color:#000;
  display:block;
  overflow:hidden;
  padding:0 10px 1px 14px;
}
.search-form2 .option-list ul a.active {
    background: #6C6C6C;
    color: #ffffff;
}
.option-list .choose-block{
  padding:15px 0 6px 10px;
  background:#fff;
  width:193px;
  overflow:hidden;
}
.option-list .choose-block .row{padding:0 0 7px;}
.option-list .choose-block .row-alter{padding:5px 0 12px 5px;}
.option-list .choose-block .row:after{
  content:'';
  display:block;
  clear:both;
}
.search-form2 .option-list .row label{
  padding:0 3px 0 0;
  width:68px;
  white-space:nowrap;
  font-weight:normal;
}
.option-list .choose-block .row-alter label{
  padding:0 8px 0 0;
  font-weight:bold;
  width:auto;
}
.option-list .choose-block .row-alter select{
  width:58px;
  margin:-2px 11px 0 0;
}
.search-form2 .option-list ul a:hover{
  text-decoration:none;
  background:#dbdbdb;
  cursor:pointer;
}
.search-form2 .option-list ul a.active:hover {
    background: #6C6C6C;
    color: #ffffff;
}
.search-form2 .option-list ul .open a{
  background:#dbdbdb;
  border-bottom:1px solid #ccc;
}
.search-form2 .option-list ul .open a.active {
    background: #6C6C6C;
    color: #ffffff;
}
.search-form2 .option-list ul a strong{
  float:left;
  font-weight:bold;
}
.search-form2 .option-list ul a span{
  float:right;
  text-decoration:underline;
}
.search-form2 .option-list ul .open a span,
.search-form2 .option-list ul a span.alt{display:none;}
.search-form2 .option-list ul .open a span.alt{display:block;}
.search-form2 .btns-holder .add-btn span{
  padding:1px 20px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
  float:left;
}
.search-form2 .btns-holder .add-btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#000;
}
.search-form2 .btns-holder .slide{
  display:none;
  position:absolute;
  top:0;
  right: 1px;
  width:205px;
}
.search-form2 .btns-holder.open .slide{display:block;}
.search-form2 select{
    width: 6.5em;
  position:relative;
  margin:-3px 1ex 0;
}
.search-form2 .location{
  width:277px;
  padding:0 8px;
  background:#fff;
  overflow:hidden;
  font-size:11px;
  line-height:28px;
}
.search-form2 .location li{
  float:left;
  padding:0 11px 0 12px;
  background:url(separator6.gif) 0 50% no-repeat;
}
.search-form2 .location li:first-child{
  background:none;
  padding-left:0;
}
.search-form2 .location a{
  float:left;
  color:#4f4f4f;
}
.search-form2 .check{
  width:16px;
  height:16px;
  padding:0;
  margin:0 8px 0 0;
  float:left;
}
.search-form2 .option-list .check{margin:0 4px 0 0;}
.search-form2 .option-wrap .check{margin:0 10px 0 0;}
.search-form2 .option-wrap{
  float:left;
  margin:0 0 6px;
  width:530px;
}
.search-form2 .column-option-holder{
  position:relative;
  margin:0 -46px 0 0;
  width:576px;
  overflow:hidden;
}
.column-option-holder .column-option{
  float:left;
  width:160px;
  padding:0 32px 0 0;
}
#main .intro-box{
  width:924px;
  overflow:hidden;
  border-bottom:1px solid #ccc;
  position:relative;
  margin:-58px 0 7px;
  padding:0 0 12px 8px;
  @include clearfix;
}
.intro-box .print,
a#print_instructions.print{
  letter-spacing:-1px;
  white-space:nowrap;
  top:5px;
  right:1px;
  position:absolute;
  background:url(ico-print.gif) 50% 0 no-repeat;
  padding:42px 0 0;
  text-align:center;
  width:50px;
  font-size:9px;
  line-height:11px;
  color:#f3871f;
}
/* Advertiser's instructions script */
a.popup-advertiser-script {
  font-size: 14px;
  &.script-btn-lnk {
    @extend %flat_button_confirm;
      @include stage_flat_button_include_icon('circle-linearrow-right-white.png');
      @include stage_flat_button_colors($bg_color: $stage_castings_color, $hover_bg_color: black);
  }
}
a#print_instructions.print{
  position: relative;
  float: right;
  margin-left: 10px;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0px;
}
div[aria-labelledby="ui-dialog-title-recording_instructions_dialog"] div.ui-dialog-titlebar {
  display: block;
  border: none;
  font-size: 12px;
  color: #FEF0E3;
  font-weight: bold;
  background: #F1861F;

  a.ui-dialog-titlebar-close {
    display: none!important;
  }
}
div#recording_instructions_dialog.ui-dialog-content {
  overflow: hidden!important;

  .wrap {
    overflow: auto;
  }
}
p#printable {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 20px;
  height: auto;
}
.intro-box .comment{
  white-space:nowrap;
  bottom:16px;
  right:340px;
  position:absolute;
  background:url(ico-socials.jpg) 0 -524px no-repeat;
  padding:0 0 1px 29px;
  text-align:center;
  font-size:10px;
  line-height:14px;
  color:#f3871f;
}
.intro-box .alignleft{
  float:left;
  vertical-align:top;
  padding:4px;
  border:1px solid #ccc;
  margin:0 20px 0 0;
}
#main .intro-box h2{
  color:#111;
  margin:0 0 10px 0;
  font:24px/30px Georgia, Times, sans-serif;
}
#main .intro-box h2 a{color:#111;}
.intro-box .perfomer-info{
  float:left;
  width:355px;
}
.perfomer-info dl{
  overflow:hidden;
  background:#f6f3ec;
  font-size:11px;
  line-height:22px;
  padding:1px 0 0 8px;
  margin:0 0 2px 3px;
  font-weight:bold;
  color:#000;
  width:270px;
}
.perfomer-info dl dt{
  float:left;
  margin:0 10px 0 0;
  text-transform:uppercase;
}
.perfomer-info dl dd{
  white-space:nowrap;
  float:left;
  color:#f3871f;
  margin:0 28px 0 0;
}
.perfomer-info dl dd.alt{margin:0;}
.perfomer-info .socials{
  width:100%;
  text-transform:uppercase;
  padding:11px 0 6px;
}
.perfomer-info .socials:after{
  content:'';
  display:block;
  clear:both;
}
.perfomer-info .socials li{
  padding:3px 4px 0 5px;
  float:left;
  background:url(separator3.gif) no-repeat;
}
.perfomer-info .socials li:first-child{background:none;}
.perfomer-info .socials .spotlight{padding:0 3px 0 4px;}
.perfomer-info .socials .equity{padding:2px 9px 0;}
.perfomer-info .socials .twitter{padding:3px 4px 0 9px;}
.perfomer-info .socials a{float:left;}
.perfomer-info .socials .spotlight a{
  background:url(ico-socials.jpg) no-repeat;
  width:40px;
  height:38px;
}
.perfomer-info .socials .equity {
  padding-top: 0;
  padding-left: 0;
  position: relative;
  width:45px;
  height:40px;
  cursor:default;
  img{padding-left:5px;}
}
.perfomer-info .socials .facebook a{
  background:url(ico-socials.jpg) 0 -211px no-repeat;
  width:39px;
  height:35px;
}
.perfomer-info .socials .twitter a{
  background:url(ico-socials.jpg) 0 -344px no-repeat;
  width:32px;
  height:35px;
}
.perfomer-info .socials span{display:none;}
.perfomer-info .sub-nav{
  background:#f6f3ec;
  font-size:10px;
  line-height:22px;
  font-weight:bold;
  text-transform:uppercase;
  padding:0 0 1px 10px;
  width:345px;
  overflow:hidden;
}
.perfomer-info .sub-nav li{
  padding:0 9px 0 11px;
  float:left;
  background:url(separator4.gif) 0 7px no-repeat;
}
.perfomer-info .sub-nav li.last{padding:0 0 0 10px;}
.perfomer-info .sub-nav li:first-child{
  background:none;
  padding-left:0;
}
.perfomer-info .sub-nav a{
  color:#f3871f;
  white-space:nowrap;
}
.perfomer-info .sub-nav .disabled{
  color:#ccc;
  white-space:nowrap;
    text-decoration: none;
    cursor: default;
}
// #main ul {
//  margin: 10px 0 15px 0;
// }
// #main ul li {
//  margin-top: 5px;
// }

#main .intro-block{
  width:932px;
  padding:0 7px 27px 4px;
  font-size:13px;
  line-height:16px;
  color:#555;
  border-bottom:1px solid #ccc;
  position:relative;
  margin:-59px 0 7px;
}
#main .intro-block:after{
  content:'';
  display:block;
  clear:both;
}
.intro-block .alignright{
  float:right;
  vertical-align:top;
  margin:10px 0 0 70px;
}
#main .intro-block h2{
  margin:0 0 6px;
  color:#111;
  font:bold 24px/32px Georgia, Times, sans-serif;
}
.intro-block .text-holder{overflow:hidden;}
#main .main-frame{
  width:100%;
  overflow:hidden;
  margin:-56px 0 0;
}
#main .main-frame:after{
  content:'';
  display:block;
  clear:both;
}
#main .main-frame .heading{
  padding:0 4px 15px 5px;
  margin:0 0 16px;
  width:934px;
  position:relative;
  border-bottom:1px solid #ccc;
}
#main .main-frame .heading:after{
  content:'';
  display:block;
  clear:both;
}
#main .main-frame .heading h2{
  color:#111;
  padding:7px 0 0;
  font:bold 24px/32px Georgia, Times, sans-serif;
}
.main-frame .heading img{
  float:right;
  vertical-align:top;
}
// #main .main-holder{
//  width:100%;
//  padding:0 0 33px;
//  background:url(divider.gif) 632px 0 repeat-y;
// }
#main .main-holder:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area{
  position:relative;
}
.tab-area.alter{width:941px;}
.tab-area:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area .opportunity{
  position:absolute;
  right:0;
  top:8px;
  word-spacing:2px;
  text-transform:uppercase;
  font-size:11px;
  line-height:16px;
}
.opportunity li{
  float:left;
  padding:0 4px 0 6px;
  background:url(separator7.gif) 0 50% no-repeat;
}
.opportunity li:first-child{
  background:none;
  padding-left:0;
}
.tab-area .tabset{
  width:100%;
  letter-spacing:1px;
  /*word-spacing:-2px;*/
  font-size:11px;
  line-height:14px;
  margin-bottom: 0 !important;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
}
.main-wrap .tab-area .tabset{padding:8px 0 0;}
.tab-area.alter .tabset{letter-spacing:0;}
.tab-area .tabset:after{
  content:'';
  display:block;
  clear:both;
}
.tabset li{
  float:left;
  margin:0 2px 0 0;
}
.tab-area.alter .tabset li{margin:0 0 0 2px;}
.tab-area.alter .tabset li:first-child{margin:0;}
.tabset a{
  border:solid #ccc;
  border-width:1px 1px 0;
  min-width:37px;
  padding:4px 8px;
  float:left;
  color:#000;
  background:url(bg-tab.gif) repeat-x;
}
.tab-area.alter .tabset a{
  padding:4px 0;
  float:none;
  display:block;
  text-align:center;
}
.tabset a:hover,
.tabset a.active{
  text-decoration:none;
  color:#fff;
  position:relative;
  margin:-2px 0 0;
  padding:6px 8px 4px;
  background:url(bg-tab-h.gif) repeat-x;
}
.tab-area.alter .tabset a:hover,
.tab-area.alter .tabset a.active{
  margin:0;
  padding:4px 0;
}
.tab-area .tab-content{
  border:1px solid #ccc;
  margin:0 0 20px;
  padding:11px 11px 28px 9px;
}
.main-wrap .tab-area .tab-content{
  margin:0 0 20px;
  padding:22px 8px 37px 12px;
}
.tab-area .tab-content:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area.alter .tab-content{
  padding:20px 10px 29px 8px;
}
.tab-content .frame-container{
  border:1px solid #ccc;
  position:relative;
  margin:-20px -10px 23px -8px;
  padding:20px 10px 0 8px;
}
.tab-area .table{
  padding:0 0 1px;
  position:relative;
  margin:-2px -2px -14px -2px;
  overflow:hidden;
  font-size:10px;
  line-height:14px;
}
div#applications {
  div.application {
    margin-bottom: 13px;
    padding: 10px 0 13px;
    border: solid #ccc;
    border-style: dotted;
    border-width: 0 0 1px;
    text-align: left;

    ul.app_wrapper {
      display:block;

      li {
        text-align: left;
        font-size: 12px;
        display: block;
        line-height: 28px;
        padding: 0 10px;

        &:nth-child(odd):not(.advert_name):not(.role_name) {
          background-color: #f6f3ec;
        }

        &.cover_msg > span {
          display: block;
        }

        &.cover_msg {
          margin-bottom: 10px;
        }

        &.advert_name,
        &.role_name {
          line-height: 18px;
          span > a {
            font-weight: bold;
          }
        }

        &.advert_name {
          margin-bottom: 7px;

          span > a {
            font-size: 13px;
            color: #555;
          }
        }

        &.role_name {
          span > a {
            font-size: 16px;
            color: #F3871F;
          }
        }

        &.applied,
        &.cover_msg > span.h_name {
          text-transform: uppercase;
        }

        &.recorded {
          text-transform: uppercase;
          font-weight: bold;

          a {
            font-weight: normal;
            margin-left: 5px;
            padding-right: 7px;
            border-right: 1px solid #ccc;

            &:last-child {
              border-right: none;
              padding-right: 0;
            }
          }
        }

        > span {
          @include inline-block;
          font-weight: 13px;

          &.h_name {
            font-weight: bolder;
          }
          &.h_cont {
            font-weight: 500;
          }

          p {
            line-height: 18px;

            span.full {
              @include inline-block;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
.tab-area .table li{
  width:100%;
  padding:4px 0 4px;
  border:solid #ccc;
  border-width:0 0 1px;
}
.tab-area .table .headline{padding:0 0 3px;}
.tab-area .table ul{
  text-align:center;
  font-weight:bold;
  color:#111;
  width:100%;
  overflow:hidden;
    display: table;
    table-layout: fixed;
}
.tab-area .table .headline ul{
  font-size:11px;
  line-height:14px;
  text-transform:uppercase;
  color:#000;
  font-weight:bold;
  text-align:center;
}
.tab-area .table .expired-icon{
  position:relative;
  background:url(ico-closed.gif) no-repeat;
  width:41px;
  height:37px;
  text-indent:-9999px;
  overflow:hidden;
  display:none;
}
.tab-area .table .expired .expired-icon{display:block;}
.tab-area .table ul .title{
  position:relative;
  margin:-2px 0 7px;
  display:block;
  font-weight:bold;
  font-size:16px;
  line-height:17px;
  color:#f5891f;
}
.tab-area .table ul .title a {word-wrap: break-word;}

.tab-area .table .expired ul{
  background:#f6f3ec;
  padding:3px 0;
}
.tab-area .table .expired ul .title{color:#827f7b;}
.tab-area .table ul dl{
  width:100%;
  overflow:hidden;
  font-size:9px;
  line-height:14px;
  text-transform:uppercase;
  color:#000;
}
.tab-area .table ul dl dt{
  float:left;
  margin:0 5px 0 0;
}
.tab-area .table ul dl dd{
  float:left;
  overflow:hidden;
  color:#6c6b6c;
}
.tab-area .table ul li{
  position:relative;
  margin:0;
  padding:4px 0 3px;
  /*float:left;*/
  border:solid #ccc;
  border-width:0 0 0 1px;
    display: table-cell;
}
.tab-area .table .headline ul li{min-height:0;}
.tab-area .table .production {
  border-width:0;
  text-align:left;
  padding:4px 7px;
}
.tab-area .table .name a { display: block; }
.tab-area .table .name{
  text-align:left;
  padding:4px 7px;
}
.tab-area .table .name a { display: block; }
.tab-area .table .status{width:70px;}
.tab-area .table .views{width:65px;}
.tab-area .table .applications{width:100px;}
.tab-area .table .applications > a,
.tab-area .table .matching > a,
.tab-area .table .views {
  font-size: 16px;
}
.tab-area .table .matching .expired-icon{
  margin: 10px auto 0;
}
.tab-area .table .puresolo_enabled{
  margin-top:8px;
}
.tab-content .section{
  width:100%;
  font-size:13px;
  line-height:16px;
  color:#111;
  padding:0 0 17px;
  margin:0 0 16px;
  border-bottom:1px solid #ccc;
}
.tab-content .list-wrap{
  border:none;
  margin:0 0 8px;
}
.tab-content .credit-item{
  position:relative;
  margin:-6px 0 19px;
  padding:0 0 12px;
}

#main .tab-content .credit-item h4 {
    color: #F3871F;
}

.credit-item .item-type{
  overflow:hidden;
  padding:0 0 9px 11px;
  width:596px;
}
.item-type .credit-frame{
  float:left;
  width:206px;
  padding:0 10px 0 0;
    line-height: normal;
}
.tab-content .section strong{
  float:left;
  margin:0 5px 0 0;
  text-transform:uppercase;
  font-weight:bold;
}
.section .section-intro{
  overflow:hidden;
  font-size:13px;
  line-height:20px;
  padding:0 0 8px 3px;
}
.section .section-intro span{
  font-size:17px;
  line-height:20px;
}
.tab-content .section span{
  color:#f3871f;
  font-weight:bold;
  float:left;
}
.section dl{
  overflow:hidden;
  width:605px;
  padding:1px 0 0 3px;
  background:#f6f3ec;
  font-size:13px;
  line-height:22px;
  text-transform:uppercase;
  font-weight:bold;
}
.credit-item dl{
  position:relative;
  margin:-13px 0 0;
  padding:0 0 0 10px;
  width:598px;
}
.section dl.alt{background:none;}
.list-wrap dl{
  margin:0 0 3px;
  padding:1px 0 0 9px;
  width:599px;
}
.section dl dt{
  float:left;
  margin:0 5px 0 0;
}
.section dl dd{
  margin:0 65px 0 0;
  float:left;
  color:#f3871f;
}
.credit-item dl dd{margin:0 101px 0 0;}
.list-wrap dl dd{
  margin:0;
  text-transform:none;
}
.section .section-container{
  overflow:hidden;
  padding:0 0 7px 3px;
}
.tab-content .course-block{
  width:100%;
  margin:0 0 23px;
  padding:0 0 30px;
  position:relative;
  border-bottom:1px solid #ccc;
  font-size:13px;
  line-height:18px;
  color:#000;
}
.course-block .course-date{
  overflow:hidden;
  padding:0 0 18px 87px;
  font-size:11px;
  line-height:14px;
}
.course-date strong{
  float:left;
  font-weight:bold;
  text-transform:uppercase;
  margin:0 5px 0 0;
}
.course-date em{
  float:left;
  color:#f3871f;
  font-weight:bold;
  margin:0 25px 0 0;
}
.course-block dl{
  font-weight:bold;
  overflow:hidden;
  padding:0 200px 0 86px;
}
.course-block dl dt{
  float:left;
  margin:0 5px 0 0;
}
.course-block dl dd{
  overflow:hidden;
  color:#f3871f;
}
.course-block .btn{
  position:absolute;
  bottom:27px;
  padding:0 4px 0 11px;
  right:75px;
  font-size:12px;
  line-height:24px;
  background:#7b797a;
  text-transform:uppercase;
  color:#fff;
  font-weight:bold;
}
.course-block .btn span{
  float:left;
  padding:1px 24px 0 0;
  background:url(bullet7.png) 100% 6px no-repeat;
}
.course-block .btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#000;
}
#main .photo-list{
  width:100%;
  padding:21px 0 0;
  background:#f6f3ec;
}
#main .photo-list.alter{
  width:608px;
  margin:0 0 17px 3px;
}
.photo-list ul{
  position:relative;
  width:610px;
  margin:0 -3px 0 0;
}
.photo-list.alter ul{
  width:625px;
  margin:0 -17px 0 0;
}
.photo-list ul li{
  vertical-align:top;
  min-height: 230px;
  max-width: 120px;
  display:inline-block;
  margin:0 10px 24px 4px;
  // width:185px;
  text-align:center;
  background:url(separator5.gif) 50% 100% no-repeat;
  padding:0 0 20px;
}
.photo-list.alter ul li{
  margin:0 0px 26px 23px;
  padding:0 0 16px;
}
.photo-list .name{
  display:block;
  font-weight:bold;
    word-wrap: break-word;
}
.photo-list span{
  font-size:11px;
  line-height:14px;
  display:block;
}
.photo-list .photo{
  display:block;
  margin:0 auto 23px;
  padding:4px;
  border:1px solid #ccc;
  background:#fff;
}
.photo-list .photo.processing {
  border-color: red;
  border-width: 4px;
  padding: 1px;
}
.photo-list.alter .photo{margin:0 auto 14px;}
.photo-list img{vertical-align:top;}
#main .intro-text, .main-holder .intro-text{
  margin:0 0 14px;
  padding:0 60px 18px 4px;
  border-bottom:1px solid #ccc;
  p {
    margin-bottom: 10px;
  }
}
#main .intro-text h2{
  border:none;
  padding:0;
  margin:0 0 17px;
  font:bold 22px/26px Georgia, Times, sans-serif;
}
#main .tab-content h3{
  padding:0 0 0 5px;
  color:#111;
  font:21px/24px Georgia, Times, sans-serif;
}
#main .main-wrap .tab-content h3{
  font:19px/24px Georgia, Times, sans-serif;
  padding:0 0 0 3px;
}
#main .main-wrap{
  width:100%;
  overflow:hidden;
}
#main .main-wrap .tab-content .list-wrap h3{padding:0 0 0 3px;}
#main .tab-content .course-block h3{padding:0 0 0 15px;}
#main .tab-content h4{
  padding:0 0 2px 15px;
  color:#111;
  font:17px/24px Georgia, Times, sans-serif;
}
#main .tab-content .section h4{
  padding:0 0 15px 10px;
  font:bold 17px/24px Arial, Helvetica, sans-serif;
}
#main .tab-content .upload-form h3{padding:0 0 5px;}
.tab-content .heading{
  width:100%;
  overflow:hidden;
  padding:0 0 16px;
  margin:0 0 6px;
  border-bottom:1px solid #ccc;
}
.main-wrap .tab-content .heading{
  padding:0 0 11px;
  margin:0 0 21px;
}
.tab-content .course-block .heading{
  padding:0 0 19px;
  margin:0 0 33px;
}
.tab-content .avatar-block{
  width:100%;
  overflow:hidden;
  padding:0 0 11px;
  margin:0 0 5px;
  border-bottom:1px solid #ccc;
}
.tab-content .avatar-block.current{
  padding:0 0 14px;
  margin:0 0 11px;
}
.avatar-block .holder{
  font-size:12px;
  line-height:14px;
  color:#555;
  overflow:hidden;
  position:relative;
  padding:17px 10px 22px 18px;
  background:#faf9f5;
}
.avatar-block.current .holder{background:#f6f3ec;}
.avatar-block .photo-holder{
  border:1px solid #ccc;
  background:#fff;
  padding:4px;
  float:left;
  margin:0 14px 0 0;
}
.photo-holder img{vertical-align:top;}
.avatar-block .text-holder{
  float:left;
  position:relative;
  min-height:168px;
}
.avatar-block .text-holder .title{
  width:100%;
  font-weight:bold;
  display:block;
  color:#231f20;
  font-size:16px;
  line-height:22px;
  padding:0 0 5px;
  margin:0 0 17px;
  border-bottom:1px solid #ccc;
}
.avatar-block .text-holder .title:after{
  content:'';
  display:block;
  clear:both;
}
.avatar-block .delete{
  position:absolute;
  bottom:5px;
  left:0;
  font-size:12px;
  line-height:24px;
  color:#fff;
  background:#7b797a;
  font-weight:bold;
  text-transform:uppercase;
  padding:0 4px 0 11px;
}
.avatar-block .delete span{
  float:left;
  padding:1px 24px 0 0;
  background:url(bullet7.png) 100% 6px no-repeat;
}
.avatar-block .note-block{
  font-size:12px;
  line-height:18px;
  right:72px;
  top:41px;
  position:absolute;
  border:1px solid #f78f20;
  width:246px;
  padding:12px 16px 25px 17px;
  background:#fff;
}
.note-block p{font-weight:bold;}
.note-block .arrow{
  position:absolute;
  text-indent:-9999px;
  overflow:hidden;
  background:url(ico-arrow.png) no-repeat;
  width:8px;
  height:13px;
  left:-8px;
  top:14px;
}
.avatar-block .note-block .title{
  display:block;
  text-transform:uppercase;
  color:#f78c20;
  font-size:16px;
  line-height:20px;
  font-weight:bold;
  padding:0 0 12px;
  margin:0 0 13px;
  border-bottom:1px dotted #ccc;
}
.avatar-block .text-holder .title a{
  float:left;
  position:relative;
  margin:0 0 0 -4px;
  padding:0 0 0 24px;
  background:url(bullet5.png) 0 50% no-repeat;
}
.tab-content .details-form{
  width:760px;
  padding:24px 0 0 77px;
}
.tab-content .details-form2{
  width:768px;
  position:relative;
}
.tab-content .details-form:after{
  content:'';
  display:block;
  clear:both;
}
.details-form .column{
  float:left;
  width:326px;
  margin:0 82px 0 0;
}
.details-form .column.alter{
  width:352px;
  margin:0;
}
.details-form .row{
  // width:319px;
  padding:0 4px 18px 3px;
}
.details-form .row3{padding:0 4px 12px 3px;}
.details-form .row2{padding:1px 4px 20px 3px;}
.details-form .row-select{
  padding:1px 4px 28px 3px;
  border-bottom:1px dotted #ccc;
  margin:0 0 21px;
}
.details-form .row-select.dob {
  span.text-small {
    span.text {
      margin: 10px 0 0;
      display: inline-block;
      position: relative;
      min-width: 222px;
      max-width: 226px;
      font-size: 12px;
      left: 0;
      top: 0;
    }
  }
}
.details-form .column.alter .row{
  padding:0 3px 18px 0;
  width:349px;
}
.details-form .column.alter .row3{padding:0 3px 29px 0;}
.details-form .column.alter .row-check {
    margin-bottom: 25px;
    overflow: auto;
}
.details-form .column.alter .row-select{
  padding:0 3px 35px 0;
  margin:0 0 25px;
  width:349px;
}
.details-form2 .row{width:397px;}
.details-form2 .row-select{
  width:610px;
  padding:0 4px 1px 3px;
  border:none;
}
.column .column-frame{
  width:100%;
  overflow:hidden;
  padding:0 0 11px;
  margin:0 0 28px;
  border-bottom:1px dotted #ccc;
}
.row.drama_uk_trained {
  margin-bottom: 15px;
}
.row.opt_ins {
  width: 710px;
  border-top: 1px solid #ccc;
  padding-top: 15px;

  .row {
    label {
      width: 710px;
      padding-right: 0;
    }
  }
}
.details-form .row:after{
  content:'';
  display:block;
  clear:both;
}
.details-form2 .row .container{
  float:left;
  width:300px;
  margin:0 1px 0 0;
  &:last-child {
    margin-right:0;
  }
}
.details-form2 .container .container-check{
    clear: both;
  padding:1px 0 0 91px;
}
div.select-cont.selsd,
div.select-cont.selfd {
  position: relative;
  float: left;
  select {
    float: left;
    display: block;
  }
  &:after {
    @extend .clearFix;
  }
}
.details-form select{
  float:left;
  margin:0;
  width:222px;

  &#performer_graduating_year {
    margin-left: 44px;
    margin-top: 10px;
  }
}
.details-form select.small{
  width:64px;
  margin:0 11px 0 0;
}
.details-form2 select.small{margin:0 14px 0 0;}
.details-form select.medium{width:82px;}
.details-form2 .row-select label,
.details-form .label,
.details-form label{
  font-weight:bold;
  float:left;
  font-size:12px;
  line-height:16px;
  width:90px;
  padding:3px 6px 0 0;
  &.check-course {
    float: none;
  }
}
form.details-form label {
  &[for="performer_display_mobile_publicly"],
  &[for="performer_display_landline_publicly"] {
    margin-left: 96px!important;
  }
  &[for="performer_display_email_publicly"] {margin-left:106px!important;}
}

.details-form2 label{width:159px;}
.details-form .check{
  float:left;
  width:16px;
  height:16px;
  margin:0 14px 0 0;
  padding:0;
}
.details-form2 .container .container-check label,
.tab-content .details-form .contact .row .label2,
.details-form .column.alter .label2,
.details-form .label2{
  width:auto;
  padding:0;
  font-weight:normal;
}
.details-form2 .container .container-check label{
  font-size:11px;
  white-space:nowrap;
}
.tab-content .details-form .contact .row .label2{font-size:11px;}
.details-form .row2 label{
  width:auto;
  padding:3px 7px 0 0;
}
.details-form .column.alter .label,
.details-form .column.alter label{width:111px;}
// .details-form .text{
//  float:left;
//  padding:1px;
//  background:url(bg-text-field.gif) 0 -246px no-repeat;
//  width:230px;
//  height:20px;
// }
.details-form .row3 .text{margin:0 0 8px;}
.details-form .radio{
  float:left;
  margin:3px 11px 0 5px;
  padding:0;
  width:15px;
  height:16px;
}
// .details-form .text input{
//  float:left;
//  border:none;
//  background:none;
//  padding:2px 5px;
//  font-size:13px;
//  line-height:16px;
//  color:#000;
//  width:220px;
//  height:16px;
// }
.details-form .btn-holder{
  width:710px;
  float: none;

  .custom-button-container {
    margin:0;
    margin-top:15px;
  }
}
body.performers-edit .btn-holder {
  width: 718px;
  .update-button-container {
    margin-top: 15px;
    position: relative;

    &:after {
      content:'';
      display:block;
      clear:both;
    }
  }
}
.details-form .btn-holder:after{
  content:'';
  display:block;
  clear:both;
}
.details-form .btn-submit{
  float:right;
  position:relative;
  margin:0 -8px 0 0;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
  overflow:hidden;
  width:68px;
  height:25px;
  cursor:pointer;
  border:none;
  background:url(bg-text-field.gif) 0 -193px no-repeat;
}
.details-form2 .btn-submit{
  position:absolute;
  bottom:18px;
  float:none;
  right:0;
  margin:0;
}

.details-form2 .row .btn{
  word-spacing:3px;
  float:right;
  background:#000;
  position:relative;
  margin:-2px 0 0;
  padding:0 6px 0 9px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
}
.details-form2 .row .btn span{
  float:left;
  padding:1px 24px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
}
.details-form2 .row .btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#f0891f;
}
.tab-content .details-form .contact .row{
  width:349px;
  padding:0 0 18px 1px;
}
.tab-content .details-form .contact .row3{
  padding:0 0 11px 1px;
  position:relative;
  margin:-2px 0 0;
}
.tab-content .details-form .contact .row .label,
.tab-content .details-form .contact .row label{width:106px;}
.tab-content .consider-form{
  width:100%;
  font-size:12px;
  line-height:16px;
  color:#555;
  padding:62px 0 18px;
}
.consider-form .holder{
  position:relative;
  width:940px;
  margin:0 -19px 0 0;
  background:url(divider.gif) 460px 0 repeat-y;
}
.consider-form .holder:after{
  content:'';
  display:block;
  clear:both;
}
.consider-form .column-wrap{
  float:left;
  width:461px;
  padding:0 0 0 3px;
  position:relative;
  margin:-40px 4px 0 0;
}
.consider-form .title{
  font-size:13px;
  line-height:16px;
  float:left;
  width:455px;
  padding:0 0 0 6px;
  font-weight:bold;
  margin:0 0 27px;
}
.consider-form .column{
  float:left;
  width:100%;
  margin:0 10px 0 0;
}
.consider-form .create-row{
  float:left;
  width:433px;
  padding:23px 0 22px 1px;
  margin:33px 0 22px 12px;
  border:dotted #ccc;
  border-width:1px 0;
}
.consider-form .btn-holder{
  width:375px;
  float:left;
  font-size:12px;
  line-height:14px;
  color:#f78c20;
}
.consider-form .btn-holder span{
  float:right;
  padding:7px 0 0;
}
.consider-form .btn-holder .btn-submit{
  border:none;
  cursor:pointer;
  float:right;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  margin:0 0 0 14px;
  width:68px;
  height:25px;
  background:url(bg-text-field.gif) 0 -193px no-repeat;
}
.consider-form .create-row .check{margin:0 10px 0 0;}
.consider-form .check{
  margin:0 15px 0 0;
  padding:0;
  float:left;
  width:16px;
  height:16px;
}
.consider-form .row{
  margin:0 4px 3px;
  width:197px;
  padding:6px 11px;
    float: left;
}
.consider-form .row.alt{background:#f6f3ec;}
.consider-form labrl{
  float:left;
}
.tab-content .consider-form:after{
  content:'';
  display:block;
  clear:both;
}
.tab-content .player-holder{
  float:right;
  width:637px;
  border:1px solid #ccc;
}
.player-holder img{vertical-align:top;}
.tab-content .upload-form{
  min-height:145px;
  padding:10px 0 0 14px;
  width:907px;
  position:relative;
  margin:0 0 -19px;
}
.tab-content .upload-form:after{
  content:'';
  display:block;
  clear:both;
}
.upload-form .row{
  width:100%;
  overflow:hidden;
  padding:0 0 8px;
}
.upload-form label{
  padding:0 0 11px;
  display:block;
  font-size:12px;
  line-height:16px;
}
.upload-form .btn-finish{
  position:absolute;
  right:76px;
  top:114px;
  background:url(bg-text-field.gif) -179px -193px no-repeat;
  width:71px;
  height:25px;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  border:none;
  cursor:pointer;
}
.tab-content .player-options{
  width:266px;
  float:left;
}
.tab-content .song-list{
  width:100%;
  overflow:hidden;
  padding:0 0 6px;
  margin:0 0 7px;
  border-bottom:1px solid #ccc;
}
.song-list .holder{
  background:#f6f3ec;
  width:244px;
  padding:6px 16px 20px 6px;
}
.player-options .block{
  background:#f6f3ec;
  width:244px;
  font-size:11px;
  line-height:12px;
  color:#555;
  padding:11px 16px 15px 6px;
}
.player-options .block:after{
  content:'';
  display:block;
  clear:both;
}
.player-options .block .text-block{
  padding:14px 0 31px 11px;
  width:233px;
}
.player-options .block .btn{
  margin:0 -5px 0 0;
  position:relative;
  background:#f78c20;
  float:right;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  color:#fef0e3;
  letter-spacing:1px;
  padding:0 5px 0 8px;
}
.player-options .block .btn span{
  float:left;
  padding:1px 17px 0 0;
  background:url(bullet6.png) 100% 50% no-repeat;
}
.player-options .block .btn:hover{
  cursor:pointer;
  text-decoration:none;
  background:#000;
}
.player-options .block h3{
  color:#000;
  padding:0 0 8px 11px;
  border-bottom:1px solid #ccc;
  font:bold 20px/24px Georgia, Times, sans-serif;
}
#main .main-frame .song-list .heading{
  width:100%;
  padding:0 0 3px;
  margin:0 0 13px;
  color:#000;
  font-weight:bold;
  font-size:11px;
  line-height:14px;
  text-transform:uppercase;
}
.song-list .public{
  float:right;
  padding:2px 0 5px 18px;
  border-left:1px solid #ccc;
}
.song-list .public a{color:#000;}
.song-list .title{
  padding:2px 0 0 2px;
  float:left;
  font-weight:bold;
}
.song-list .choose-form{
  width:100%;
  font-size:12px;
  line-height:20px;
  color:#7b797a;
}
.song-list .choose-form:after{
  content:'';
  display:block;
  clear:both;
}
.choose-form .btn-holder{width:100%;}
.choose-form .btn-holder:after{
  content:'';
  display:block;
  clear:both;
}
.choose-form .btn-go{
  position:relative;
  margin:0 -4px 0 0;
  cursor:pointer;
  border:none;
  float:right;
  width:50px;
  height:25px;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  background:url(bg-text-field.gif) -200px 0 no-repeat;
}
.choose-form .scroll-block{
  width:244px;
  overflow:auto;
  height:253px;
  margin:0 0 20px;
}
.scroll-block .container{
  width:209px;
  padding:0 0 9px;
  margin:0 0 7px;
  border-bottom:1px dotted #ccc;
}
.scroll-block .container .row{
  width:209px;
  padding:0 12px 0 6px;
  background:#fff;
  margin:0 0 3px;
  overflow:hidden;
}
.scroll-block .container span{
  display:block;
  padding:0 0 1px 3px;
}
.scroll-block .play{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  margin:2px 14px 0 0;
  background:url(ico-play.gif) no-repeat;
  width:16px;
  height:17px;
}
.choose-form label{
  float:left;
  padding:1px 0 0;
  font-weight:bold;
  color:#f68d20;
}
.choose-form .check{
  width:16px;
  height:16px;
  padding:0;
  margin:3px 0 0;
  float:right;
}
#content{
  position:relative;
  float:left;
  margin:-59px 0 0;
  ul {
    list-style: normal;
  }
}

.main-wrap #content{
  margin:0;
}
#content h2{
  letter-spacing: -0.5px;
  margin:0 0 14px 1px;
  color:#000;
  padding:0 0 12px 2px;
  // border-bottom:1px solid #ccc;
  font:bold 24px/32px Georgia, Times, sans-serif;

}
#content h2.alter{
  margin:0 0 15px 1px;
  padding:0 0 17px 2px;
}

#content h3{
  font:bold 20px/24px Georgia, Times, sans-serif;
  color:#111;
  padding:10px 0 10px;
}
#content .heading h3 {
  font: bold 22px/25px Arial, Helvetica, sans-serif;
  color: #f5891f;
}

#content .container-wrap{
  position:relative;
  width:644px;
  margin:0 -22px 0 0;
  overflow:hidden;
  padding:0 0 31px;
}
.container-wrap .text-wrap{
  float:left;
  width:300px;
  margin:0 22px 0 0;
  font-size:12px;
  line-height:18px;
  color:#555;
}
#content .container-wrap h3{
  font:bold 20px/24px Georgia, Times, sans-serif;
  color:#111;
  padding:0 0 10px;
}
.text-wrap .text-holder{
  border:solid #ccc;
  border-width:1px 0;
  padding:0 0 9px;
  margin:2px 0 0;
}
p.join-now {
  padding-top: 9px;
}
.container-wrap .text-wrap .title{
  padding:6px 0 16px;
  display:block;
  font-weight:bold;
  font-size:16px;
  line-height:18px;
  text-transform:uppercase;
}
.container-wrap .text-wrap p{font-weight:bold;}
.text-wrap .login-form2{
  border-top:3px solid #f78c20;
  background:#f6f3ec;
  padding:18px 21px 0 15px;
  width:264px;
}
// PT#51473773 - fix styling to override wider default
// for .row. Hacky but it works
.login-form2 .row {
  width: auto;
  padding:0 0 13px;
  .content-holder &,
  #content-holder & {
    width: auto;
  }
}


.login-form2 .row .remember {
    float: left;
}

.login-form2 .row .remember input[type='checkbox'] {
    margin: 3px 6px 0 0;
    height: 14px;
    float: left;
}

.login-form2 .row.min {
    padding-bottom: 5px;
}

.login-form2 .row:after{
  content:'';
  display:block;
  clear:both;
}
.login-form2 .text{
  float:left;
  width:166px;
  padding:1px;
  height:20px;
  background:url(bg-text-field.gif) 0 -146px no-repeat;
}
.login-form2 .text input{
  float:left;
  background:none;
  border:none;
  font-size:13px;
  line-height:16px;
  padding:2px 5px;
  width:156px;
  height:16px;
  color:#000;
}
.login-form2 label{
  float:left;
  font-size:12px;
  line-height:22px;
  color:#555;
  width:96px;
}
.login-form2 .btn-go{
  cursor:pointer;
  border:none;
  float:right;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  margin:-5px 1px 0 0;
  position:relative;
  width:54px;
  height:25px;
  background:url(bg-text-field.gif) -196px -143px no-repeat;
}

#content .intro{
  margin:0 0 10px;
  width:618px;
  padding:0 0 22px 4px;
  border-bottom:1px solid #ccc;
}
#content .intro h2{
  border:none;
  padding:0;
  margin:0 0 7px;
}
#content .column-holder{
  overflow:hidden;
  padding:0 0 10px;
  margin:0 0 8px;
  border-bottom:1px solid #ccc;

  &#puresolo-track-purchase {
    p {
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0px;
      }
      span.undrln {
        text-decoration: underline;
      }
    }
    h4 {
      font-weight: 600;
      margin: 5px 0px;
    }
  }
}
#content .column-holder.alter{
  padding:0 0 15px;
  margin:0 0 18px;
}
.column-holder .frame{width:110%;}
.column-holder .frame:after{
  content:'';
  display:block;
  clear:both;
}
.column-holder .column{
  float:left;
  width:300px;
  margin:0 19px 0 0;
}
#content .column h3{
  color:#fff;
  margin:0 0 1px;
  border-top:1px solid #fbbe82;
  padding:0 10px 0 40px;
  letter-spacing:-1px;
  font:bold 20px/36px Georgia, Times, sans-serif;
  background:#ed831f url(icons.png) 7px -519px no-repeat;
}
#content .column.alt h3{
  border-top:1px solid #7d797b;
  background:#686868 url(icons.png) 7px -416px no-repeat;
}
.column .text-holder{
  min-height:82px;
  padding:14px 15px 14px 20px;
  background:#fef0e3 url(bg-voice.png) 214px 0 no-repeat;
  @include clearfix;
}
.column.alt .text-holder{
  background:#e6e6e6 url(bg-waves.png) 161px 0 no-repeat;
  }
.column .title{
  display:block;
  color:#f78c20;
  font-size:23px;
  line-height:26px;
  font-weight:bold;
  padding:0 0 2px;
    letter-spacing: -1px;
}
.column.alt .title{
  color:#545454;
  letter-spacing:-1px;
}
.column p{padding:0 0 14px;}
.column .note{
  width:100%;
  font-size:17px;
  line-height:21px;
  color:#f78c20;
}
.column.alt .note{color:#545454;}
.column .note:after{
  content:'';
  display:block;
  clear:both;
}
.column .note span{float:left;}
.column .note strong{font-weight:bold;}
.column .btn{
  text-transform:uppercase;
  color:#fff;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  padding:0 5px 0 7px;
  float:right;
  background:#f78c20;
}
.column .note .btn{margin:20px 0 0;}
.column.alt .btn{background:#6d6c6d;}
.column .btn span{
  padding:1px 22px 0 5px;
  float:none;
  display:block;
  background:url(icons.png) 100% -345px no-repeat;
}
.column .note .btn span{padding:1px 17px 0 3px;}
.column .btn:hover{
  text-decoration:none;
  background:#000;
}
#content .search-form{
  overflow:hidden;
  padding:0 0 10px 0;
  margin:0 0 12px;
  border-bottom:1px solid #ccc;
}
.search-form .heading{
  padding:10px 8px 8px;
  background:#000;
  overflow:hidden;
}
#content .search-form h3{
  float:left;
  word-spacing:4px;
  color:#fff;
  padding:0 19px 2px 37px;
  font:20px/24px Georgia, Times, sans-serif;
  background:url(icons.png) 0 -257px no-repeat;
}
.search-form .heading span{
  float:left;
  color:#b7b7b7;
  font-size:13px;
  line-height:26px;
  padding:1px 0 0;
}
.search-form .holder{
  background:#f6f3ec;
  padding:16px 15px 0 18px;
}
.search-form .row{
  width:100%;
  padding:0 0 15px;
  overflow:hidden;
}
.search-form .container{float:left;}
.search-form .container.alt{float:right;}
.performers-form .btn-search,
.search-form .btn-search{
  text-transform:uppercase;
  position:relative;
  float:left;
  border:none;
  cursor:pointer;
  font-size:12px;
  line-height:25px;
  height:25px;
  width:88px;
  color:#fef0e3;
  font-weight:bold;
  margin:2px 0 -3px;
  padding:0 16px 2px 0;
  background:#000 url(btn-search.png) 69px 6px no-repeat;
}
.performers-form .btn-search, .adverts-form .custom-next-button{
  float:right;
  margin:0;
}
.performers-form .btn-search:hover, .adverts-form .custom-next-button:hover,
.search-form .btn-search:hover{background:#f1861f url(btn-search.png) 69px 6px no-repeat;}
.search-form label{
  font-size:12px;
  line-height:22px;
  color:#555;
  font-weight:bold;
  margin:0 10px 0 0;
  float:left;
}
.search-form .container.alt label{margin:0 12px 0 0;}
.search-form select{
  margin:2px 0 0;
  width:164px;
  float:left;
}
.search-form .label{
  float:left;
  font-size:12px;
  line-height:22px;
  color:#555;
  font-weight:bold;
  width:52px;
  padding:0 13px 0 0;
}
.search-form .radio{
  float:left;
  margin:2px 10px 0 2px;
  padding:0;
  width:16px;
  height:15px;
}
// #content .search-block{
//  width:100%;
//  overflow:hidden;
//  padding:0;
// }

#content .job-holder{
  padding:0 2px 21px 0;
}

#content .job-wrapper{
  width:100%;
  margin:0 0 24px;
  padding:0 0 9px;
  border-bottom:1px solid #ccc;
}
// #content .search-block .job-holder{
//  float:right;
//  width:440px;
//     position: relative;
// }
.job-holder .job{
  width:100%;
  padding:0 0 7px;
  margin:0 0 16px;
  border-bottom:1px solid #ccc;
    position:relative;
}
.search-block .job-holder .job{
  padding:0;
  margin:0;
}
.search-block .job-holder .job.alt{padding:0 0 5px;}
.job .heading{
  padding:0 11px 10px 12px;
  overflow:hidden;
  height:35px;
    position: relative;
}
.job .job-info{
  float:left;
  padding:14px 20px 12px 0;
}
.search-block .job .heading{
  height:auto;
  font-size:12px;
  line-height:15px;
  padding:0 6px 0 8px;
}

.search-block .job .heading p{
       margin-top: 8px;
}

#content .job h3 {
  font-weight:bold;
  float:left;
  color:#f5891f;
  font-size:16px;
  line-height:20px;
    word-wrap: break-word;
}
#content .job h3.payment-icon {
    width: 530px;
}
#content .job-wrapper .job h3{
  font-size:22px;
  line-height:25px;
    width: 540px;
}
#content .search-block .job h3 {
    float:none;
    width: 360px;
}
.article .text-wrap{
  width:100%;
  overflow:hidden;
  padding:0 0 5px;
  margin:0 0 10px;
  border-bottom:1px solid #ccc;
}
.article dl,
.job dl{
  font-weight:bold;
  overflow:hidden;
  font-size:11px;
  line-height:23px;
  background:#f6f3ec;
  padding:0 12px;
}

dl.non-background{
  background: none;
  padding: 5px 0 0 0;
  width: 540px !important;
}

.heading.advert-name{
  height: auto;
  padding: 0 0 10px 12px;
}

.article .character dl{
  padding:0 9px;
  width:284px;
}
.article .character dl.alter{
  background:none;
  padding:5px 9px;
}
.article .heading dl{
  float:left;
  width:auto;
  background:none;
  text-transform:uppercase;
  font-size:11px;
  line-height:14px;
  padding:8px 0 6px 9px;
}
.search-block .job dl,
.job-wrapper .job dl{
  width:auto;
  margin:0 0 2px;
}
.article dl dt,
.job dl dt{
  padding:0 5px 0 0;
  float:left;
  text-transform:uppercase;
  color:#000;
}
.article dl dd,
.job dl dd{
  margin:0 25px 0 0;
  float:left;
  color:#f5891f;
}
.article dl dd{margin:0 56px 0 0;}
.article .heading dl dd{margin:0 34px 0 0;}
.article .character dl dd{
  margin:0;
  color:#f3871f;
}
// .paging-wrapper {
//  // width:614px;
//  padding:8px 3px 6px 5px;
//  text-transform:uppercase;
//  border:solid #ccc;
//  border-width:1px 0;
//  font-size:11px;
//  line-height:14px;
//  overflow:hidden;
//  position:relative;
// }

.paging-wrapper {
  padding: 8px 5px 4px;
  font-size: 11px;
  text-transform: uppercase;
  border: solid $stage_border_color;
  border-width: 1px 0;
  @include clearfix;
  .results_summary {
    @include float-left;
  }
  .paging-holder {
    @include float-right;
  }
  .pagination {
    display: inline;
  }
}

#main .search-form2 .paging-wrapper{
  position:relative;
  z-index:4;
  border:solid #ccc;
  border-width:0 0 1px;
  width:932px;
  margin:0 0 11px;
  padding:8px 4px 14px 5px;
}
.paging-wrapper .container{
  font-size:13px;
  line-height:14px;
  float:left;
  width:194px;
  padding:0 19px 0 0;
}
#content .job-holder .paging-wrapper{
  // width:437px;
  position:relative;
  border:solid #ccc;
  border-width:0 0 1px;
  /*padding:2px 0 12px 9px;*/
  // margin:0 -6px 0 0;
}
.paging-wrapper strong{
  font-weight:bold;
  float:left;
  padding:0 5px 0 0;
  color:#000;
}
.search-form2 .paging-wrapper strong{padding:0 2px 0 0;}
.search-form2 .paging-wrapper .paging-holder strong{padding:0 6px 0 0;}
.search-form2 .paging-wrapper .select-filter{
  width:174px;
  padding:1px 0 0;
  float:right;
}
.search-form2 .paging-wrapper .select-filter label{
  width:105px;
  padding:0 10px 0 0;
  color:#555;
  font-size:12px;
  line-height:14px;
  text-transform:none;
  font-weight:normal;
}
.search-form2 .paging-wrapper .select-filter select{
  float:left;
  width:58px;
  color:#555;
  position:relative;
  margin:-3px 0 0;
}
.paging-wrapper .paging-holder {
  float:right;
  white-space: nowrap;
}
.search-form2 .paging-wrapper .paging-holder{
  float:left;
  word-spacing:3px;
  margin:0 68px 0 0;
}
.paging-wrapper ul {
  float:left;

}
.paging-wrapper ul li{
  float:left;
  padding:0 4px 0 5px;
  background:url(separator2.gif) 0 50% no-repeat;
}
.paging-wrapper ul li:first-child{
  padding-left:0;
  background:none;
}
.paging-wrapper ul span{
  float:none;
  color:#f78c20;
}
// #main .aside{
//  float:left;
//  width:173px;
// }
.aside .place-holder{width:170px;}
.aside .place-holder img{vertical-align:top;}
#content .article{
  width:100%;
  font-size:13px;
  line-height:18px;
  color:#777;
  padding:0 0 20px;
}
#content .article:after{
  content:'';
  display:block;
  clear:both;
}
.article .text-holder{
  width:100%;
  overflow:hidden;
  padding:0 0 12px;
}
.article .text-holder.alt{padding:5px 0 8px;}
.article p{margin:0 0 18px;}
#content .article .heading{
  padding: 15px 3px 9px 2px;
  margin: 10px 0px;
  border-bottom: 1px solid $stage_border_color;
  border-top: 1px solid $stage_border_color;
}
#content .article .heading:after{
  content:'';
  display:block;
  clear:both;
}
#content .article h3{
  font:19px/24px Georgia,Times,sans-serif;
  color:#111;
}
.article .heading .btn{
  margin:1px 0 0;
  float:right;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fef0e3;
  padding:0 5px 0 6px;
  background:#f78c20;
}
.article .heading .btn span{
  float:left;
  padding:1px 20px 0 0;
  background:url(bullet6.png) 100% 50% no-repeat;
}
.article .heading .btn:hover{
  text-decoration:none;
  background:#000;
}
.article .title{
  font-size:13px;
  line-height:18px;
  display:block;
  color:#222;
  font-weight:bold;
  margin:0 0 6px
}
.article .character-wrap{
  width:100%;
  overflow:hidden;
  border-bottom:1px solid #ccc;
  padding:0 0 19px;
  margin:0 0 16px;
}
.article .character-holder{
  width:110%;
  padding:0 0 0 2px;
}
.article .character-holder:after{
  content:'';
  display:block;
  clear:both;
}
.character-holder .character{
  float:left;
  width:302px;
  margin:0 15px 0 0;
}
.article .character .title{margin:0 0 18px;}
#content .article h4{
  color:#111;
  margin:0 0 16px 2px;
  font:15px/18px Georgia,Times,sans-serif;
}
#content .article-holder{
  position:relative;
  margin:-5px 0 0;
}
#main .filter-form{
  width:100%;
  overflow:hidden;
  padding:0 0 11px;
  margin:0 0 8px;
  border-bottom:1px solid #ccc;
}
#main .filter-form h3{
  background:#f78c21;
  margin:0 0 1px;
  padding:8px 11px 11px;
  color:#fff;
  font:bold 20px/24px Georgia,Times,sans-serif;
}
.filter-form .row{
  margin:0 0 1px;
  overflow:hidden;
  padding:9px 8px;
  background:#f6f3ec;
}
.filter-form .btn{
  float:right;
  text-transform:uppercase;
  font-weight:bold;
  width:70px;
  padding:0 18px 0 0;
  text-align:center;
  font-size:12px;
  line-height:25px;
  color:#fef0e3;
  background:#000 url(btn-search.png) 69px 6px no-repeat;
}
.filter-form .btn-update{
  float:right;
  border:none;
  cursor:pointer;
  text-transform:uppercase;
  font-weight:bold;
  width:88px;
  height:25px;
  padding:0 18px 2px 0;
  font-size:12px;
  line-height:25px;
  color:#fef0e3;
  background:#000 url(btn-search.png) 69px 6px no-repeat;
}
.filter-form .btn-update:hover,
.filter-form .btn:hover{
  text-decoration:none;
  background:#f78c20 url(btn-search.png) 69px 6px no-repeat;
}
.filter-form ul{
  font-weight:bold;
  font-size:13px;
  line-height:20px;
}
.filter-form ul li{padding:0 0 1px;}
.filter-form ul .open-close{
  color:#111;
  background:#dbdbdb url(bullet3.png) no-repeat right center;
  border-right: 10px solid transparent;
  display:block;
  padding:5px 27px 6px 13px;
}
.filter-form ul .open .open-close{
  background:#dbdbdb url(bullet2.png) no-repeat right center;
}
.filter-form ul .slide{
  padding:11px 5px 7px 9px;
  display:none;
  background:#f6f3ec;
}
.filter-form .check{
  margin:0 6px 0 0;
  float:left;
  padding:0;
  width:16px;
  height:16px;
}
.filter-form label{
  font-weight:normal;
  float:left;
  font-size:12px;
  line-height:16px;
  color:#111;
}
.filter-form ul .open .slide{display:block;}
.filter-form ul .slide .row{
  margin:0;
  width:100%;
  background:none;
  padding:0 0 7px;
}
#content .performers-form, .adverts-form {
  // width:593px;
  padding:12px 13px 17px 12px;
  border:1px solid #ccc;
  background:#f6f3ec;
}
#content .name-form {
  position:relative;
  margin:-4px 0 0;
  padding:16px 13px;
}
#content .performers-form h2, .adverts-form h2 {
  padding:0 0 8px 5px;
  margin:0 0 17px;
}
.performers-form .row, .adverts-form .row{
  // width:583px;
  padding:3px 0 15px 10px;
  @include clearfix;
}
.name-form .row{padding:3px 0 0 10px;}

.performers-form .row select{
  width:186px;
  margin:-3px 0 0;
  position:relative;
}
.performers-form {
  .row {
    .gender-holder, .equity-holder {
      float:left;
    }
    .equity-holder {
      width: 205px;
    }
    .age-holder {
      float: right;
      label { width: auto; }
    }
  }
  .text {
    float: left;
    padding: 1px;
    width: 208px;
    height: 20px;
    margin:0 2px 0 0;
    background: url(image-path('bg-text-field.gif')) 0 -96px no-repeat;
  }
  select {
    width:186px;
    // float:left;
    // margin:-3px 0 0;
    position:relative;
  }
}
// .search-form2 .row .equity-holder label {
//  padding-left: 7px;
// }

.performers-form .text input{
  float:left;
  background:none;
  border:none;
  width:198px;
  height:16px;
  color:#111;
  font-size:13px;
  line-height:16px;
  padding:2px 5px;
}
.performers-form .btn-go{
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  line-height:0;
  font-size:0;
  cursor:pointer;
  border:none;
  width:38px;
  height:22px;
  background:url(bg-text-field.gif) -212px -96px no-repeat;
}
.performers-form .check{
  margin:0 10px 0 0;
  padding:0;
  width:16px;
  height:16px;
  float:left;
}

.dialog {
  background: #000;
  display: none;
  height: 330px;
  padding: 15px;
  position: relative;
  width: 430px;
}

.dialog .close {
  background:url('/assets/close_icon.png') no-repeat;
  cursor: pointer;
  height: 30px;
  overflow:hidden;
  position: absolute;
  text-indent:-9999px;
  top: -10px;
  right: -10px;
  width: 30px;
  z-index: 1;
}

.performers-form .row .check{margin:0 7px 0 0;}
.performers-form .label,
.performers-form label{
  float:left;
  font-size:12px;
  line-height:16px;
  color:#555;
}
.performers-form label.check-label {
    width: 136px;
}
.performers-form .label{
  font-weight:bold;
  padding:0 4px 0 0;
  width:60px;
}
.performers-form .check-holder label{
  padding:0 20px 0 0;
  font-weight:bold;
}
.performers-form .row label{
  font-weight:bold;
  padding:0 16px 0 0;
}
// .performers-form .row .age-holder label{width:116px;}
.performers-form .heading{
  width:100%;
  overflow:hidden;
  padding:0 0 20px;
}
#content .performers-form h3{
  padding:0 0 0 7px;
  color:#111;
  font:20px/24px Georgia, Times, sans-serif;
}
#content .name-form h3{padding:0 0 14px 7px;}

.performers-form {
  .check-holder{
    float:right;
    padding: 4px 0 0 0;
  }
  .check-holder .check{margin:0;}
  .box{
    border-top:1px solid #ccc;
    padding:17px 0 0 1px;
  }
  .container-holder {
    position:relative;
    width:603px;
    overflow:hidden;
    margin:0 -11px 20px 0;
  }
  .container-holder .container{
    width:185px;
    float:left;
    margin:0 16px 3px 0;
    padding:6px 11px;
  }
  .container-holder .container-long {
    width:230px;
    float:left;
    margin:0 16px 3px 0;
    padding:6px 11px;
  }
  .container-holder .container-long.alt {background:#fff;}
  .container-holder .container.alt{background:#fff;}
  .block{
    width:100%;
    overflow:hidden;
    padding:10px 0 0;
      margin-bottom: 20px;
  }
  #content & {
    .block h3{margin:0 0 19px;}
    .block .btn{
      float:left;
      margin:0 15px 0 0;
      width:155px;
      padding:1px 18px 0 0;
      font-size:12px;
      line-height:24px;
      text-align:center;
      text-transform:uppercase;
      color:#fef0e3;
      font-weight:bold;
      background:#f3871f url(bullet4.png) 137px 6px no-repeat;
    }
    .block .btn:hover{
      cursor:pointer;
      text-decoration:none;
      background:#000 url(bullet4.png) 137px 6px no-repeat;
    }
  }

  .block .holder{
    width:586px;
    padding:0 0 0 7px;
  }
  .block .holder span{
    float:left;
    padding:4px 0 0;
  }
  .block .holder:after{
    content:'';
    display:block;
    clear:both;
  }
}
#sidebar{
  position:relative;
  float:right;
  width:304px;
  margin:-59px 0 0;
}
.main-wrap #sidebar{
  width:300px;
  margin:0;
}
.main-wrap.alternative #sidebar{
  width:300px;
  margin:0;
  padding:31px 0 0;
}
#sidebar .rejection-form{
  width:272px;
  background:#e4e4e4;
  padding:10px 12px 7px 16px;
  position:relative;
  margin:0 0 0 -2px;
}
#sidebar .rejection-form h3{
  margin:0 0 13px;
  float:none;
}
.rejection-form .row{
  width:100%;
  overflow:hidden;
  padding:0 0 8px;
}
.rejection-form .text{
  float:left;
  width:167px;
  height:20px;
  padding:1px 1px 1px 2px;
  background:url(bg-text-field.gif) 0 -290px no-repeat;
}
.rejection-form .tarea{
  margin:4px 0 0;
  float:left;
  width:269px;
  height:79px;
  padding:1px 1px 1px 2px;
  background:url(bg-text-field.gif) 0 -333px no-repeat;
}
.rejection-form .text input{
  float:left;
  width:157px;
  height:16px;
  font-size:13px;
  line-height:16px;
  padding:2px 5px;
  background:none;
  border:none;
}
.rejection-form textarea{
  float:left;
  width:259px;
  min-width:259px;
  max-width:259px;
  height:75px;
  min-height:75px;
  max-height:75px;
  font-size:13px;
  line-height:16px;
  padding:2px 5px;
  background:none;
  border:none;
}
.rejection-form .btn-submit{
  float:right;
  border:none;
  cursor:pointer;
  background:url(bg-text-field.gif) -187px -287px no-repeat;
  width:75px;
  height:25px;
  text-indent:-9999px;
  overflow:hidden;
  font-size:0;
  line-height:0;
  margin:1px 0 0;
}
.rejection-form label{
  float:left;
  width:97px;
  padding:0 5px 0 0;
  font-weight:bold;
  color:#555;
  font-size:12px;
  line-height:22px;
}
#sidebar img{vertical-align:top;}
#sidebar h3{
  color:#111;
  margin:0 0 9px;
  font:19px/22px Georgia, Times, sans-serif;
}
#sidebar .contact-block{
  font-size:13px;
  line-height:16px;
  width:300px;
  padding:12px 12px 16px 11px;
  background:#f6f3ec;
    margin-bottom: 10px;
}
#sidebar .contact-block:after{
  content:'';
  display:block;
  clear:both;
}
.contact-block .title{
  text-transform:none;
  width:275px;
  font-size:16px;
  line-height:17px;
  margin:0 0 10px 2px;
}
.contact-block strong{
  color:#111;
  font-weight:bold;
  float:left;
  margin:0 3px;
  text-transform:uppercase;
}
.contact-block span{
  float:left;
  font-weight:bold;
  color:#f3871f;
    margin: 0 3px;
}
.contact-block .btn-holder{
  margin:17px 0 0;
  float:left;
  width:100%;
  border-top:1px solid #ccc;
  padding:13px 0 0;
}
.contact-block .btn-holder .btn{
  float:left;
  padding:0 8px 0 9px;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
  background:#f3871f;
  position:relative;
  margin:0 0 0 -2px;
}
.contact-block .btn-holder .btn-contact{
    padding: 0 25px 0 5px;
  float:right;
  font-size:12px;
  line-height:24px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
    background: #969696 url(bullet4.png) 94% 5px no-repeat;
}
.contact-block .btn-holder .btn-contact:hover {
    text-decoration:none;
    cursor:pointer;
    background: #000 url(bullet4.png) 94% 5px no-repeat;
}
.contact-block .btn-holder .btn:hover{
  text-decoration:none;
  cursor:pointer;
  background:#000;
}
.contact-block .btn-holder .btn span{
  color:#fff;
  float:left;
  padding:1px 17px 0 0;
  background:url(bullet4.png) 100% 6px no-repeat;
}
.contact-block .btn-holder .btn-contact span{
  color:#fff;
  float:left;
  padding:0 20px 0 0;
  background:url(bullet6.png) 100% 6px no-repeat;
}
#sidebar .widget{
  width: 300px;
  margin:0 0 14px;
  border-bottom:1px solid #ccc;
}
#sidebar .player-box{
  width:300px;
  position:relative;
  margin:0 0 14px;
  padding:0 0 15px;
  border-bottom:1px solid #ccc;
}
#sidebar .player-box.no-border{border:none;}
#sidebar .player-box h3{
  background:#f78e21;
  padding:5px 12px 6px;
  text-transform:uppercase;
  color:#fff;
  font-size:14px;
  line-height:22px;
  font-weight:bold;
  margin-bottom:0;
}
#sidebar .player-box .row{
  overflow:hidden;
  padding: 8px 10px 15px 10px;
  background:#fcd5ac;
}
#sidebar .player-box .row strong{
  float:left;
  font-weight:bold;
  color:#000;
  font-size:12px;
  line-height:14px;
}
#sidebar .player-box .row a{
  float:right;
  text-transform:uppercase;
  color:#000;
  font-weight:bold;
  font-size:11px;
  line-height:14px;
  padding:0 20px 0 0;

  &.video_player {
    float: none;
  }
  &.listen_others {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
#sidebar .place-holder{
  margin:0 0 14px 1px;
  padding:0 0 13px;
  border-bottom:1px solid #ccc;
}
#sidebar .place-holder2{
  margin:0 0 12px;
  padding:0 0 13px;
  border-bottom:1px solid #ccc;
}
#sidebar .place-holder3{
  margin:0 0 12px;
  padding:0 0 16px;
  border-bottom:1px solid #ccc;
}
#sidebar .place-holder4{
  margin:0;
  padding:0;
  border:none;
}


#new_advertiser #advertiser_country_id {
  width: 232px;
}

.environment {
  position: absolute;
  right: 0;
  top: 31px;
  padding: 10px;
  background-color: pink;
}

@import "main/homepage";

.email-form, .email_confirmation, .close_confirmation, .delete_confirmation, .cancel_confirmation, .terms_popup {
  width: 272px;
  background: #E4E4E4;
  padding: 10px 12px 7px 16px;
  h3 {
    color: #111;
    margin: 0 0 9px;
    font: 19px/22px Georgia, Times, sans-serif;
  }
  .discard-link {
    color: #F3871F;
    font-size: 12px;
    text-decoration: underline;
  }
}

.email_confirmation, .close_confirmation, .delete_confirmation {
  background: #F6F3EC;
}

.close_confirmation, .delete_confirmation, .cancel_confirmation {
  background: #F6F3EC url(warning.png) 0px 5px no-repeat;
  padding-left: 40px;
}

#back-link {
  float: right;
}

#top-back-link {
  position: absolute;
  top: 13px;
  right: 2px;
}

.align-right {text-align:right!important;}
table#payments td {vertical-align:top!important;text-transform:none!important;font-size:12px;}
table#payments th {
  vertical-align:bottom!important;
  font-size:13px;
  &:last-child {
    text-align: right!important;
    width:80px;
  }
}
a.view-invoice {text-transform:none!important;font-size: 12px;}
/* Billing pagination */
#billing {
  .paging-wrapper:after {
    content: ".";
    display: table;
    visibility: hidden;
    line-height: 1;
    zoom: 1;
    height: 1%;
    width: 100%;
    clear: both;
  }
  .pagination {padding-right:5px;}
}

#notice, #success, #error, #alert {
  background-color: tint(#f2871f, 90%);
  border: 1px solid #ccc;
  margin: 5px auto;
  padding: 5px;
  font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
}

#performer_graduating_year_2i,
#performer_graduating_year_3i {display:none!important;}
.clearFix {
  content: ".";
  display: block;
  width: 100%;
  height: 1%;
  zoom: 1;
  visibility: hidden;
  clear: both;
}

div.signup-links {
  clear:both;
  float:right;
  margin-top: 7px;
  a {
    @include inline-block;
    line-height: 15px;
    padding-left: 20px;
    background-image: url("/assets/bullet8.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    &:first-child {
      margin-right: 8px;
    }
  }
}

.ui-widget-overlay {
  @include user-select(none);
  @include pointer-events(none);
}
.untouchable {
  @include user-select(none);
  @include pointer-events(none);
}
#terms_and_privacy_agreed {
  clear: both;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 11px;
  line-height: 15px;
  p {
    margin-bottom: 8px;
  }
}

.hint-small {
  clear: left;
  font-size: 9px;
  color: #888;
  font-style: italic;
  &.number {
    display: inline-block;
    width: 144px;
  }
}


.activity {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.activity-date {
  font-size: 9px;
  color: #888;
  font-style: italic;
}

.rotate_0 {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.rotate_90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rotate_180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rotate_270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.update-image-submit {
  position: absolute;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  background: #7b797a;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 4px 0 11px;
  margin-top: 10px;
}
