* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
     *zoom: 1;
}

#wrapper{
  padding:20px 0 0;
  width:100%;
  overflow:hidden;
}
a.hidden{
  position:absolute;
  top:0;
  left:-9999px;
}
.ad-wrapper{
  width:962px;
  margin:0 auto 14px;
  overflow:hidden;
}
.ad-wrapper .ad{
  float:left;
  margin:0 29px 0 0;
}
.ad-wrapper .ad2{
  margin:0;
  padding:1px 0;
}
.ad-wrapper img{vertical-align:top;}

.scrolled-off {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.logo{
  margin:2px 0 0;
  float:left;
  text-indent:-9999px;
  overflow:hidden;
  background:url(logo.gif) no-repeat;
  width:161px;
  height:17px;
}
.logo a{
  display:block;
  height:100%;
}

#main{
  padding: 72px 7px 10px 10px;
  margin:0 auto;
  border:1px solid #ccc;
}

#main:after{
  content:'';
  display:block;
  clear:both;
}

#main .intro-box{
  width:924px;
  overflow:hidden;
  border-bottom:1px solid #ccc;
  position:relative;
  margin:-58px 0 7px;
  padding:0 0 12px 8px;
  @include clearfix;
}
.intro-box .print,
a#print_instructions.print{
  letter-spacing:-1px;
  white-space:nowrap;
  top:5px;
  right:1px;
  position:absolute;
  background:url(ico-print.gif) 50% 0 no-repeat;
  padding:42px 0 0;
  text-align:center;
  width:50px;
  font-size:9px;
  line-height:11px;
  color:#f3871f;
}
.intro-box .comment{
  white-space:nowrap;
  bottom:16px;
  right:340px;
  position:absolute;
  background:url(ico-socials.jpg) 0 -524px no-repeat;
  padding:0 0 1px 29px;
  text-align:center;
  font-size:10px;
  line-height:14px;
  color:#f3871f;
}
.intro-box .alignleft{
  float:left;
  vertical-align:top;
  padding:4px;
  border:1px solid #ccc;
  margin:0 20px 0 0;
}
#main .intro-box h2{
  color:#111;
  margin:0 0 10px 0;
  font:24px/30px Georgia, Times, sans-serif;
}
#main .intro-box h2 a{color:#111;}
.intro-box .perfomer-info{
  float:left;
  width:355px;
}
#main .intro-block{
  width:932px;
  padding:0 7px 27px 4px;
  font-size:13px;
  line-height:16px;
  color:#555;
  border-bottom:1px solid #ccc;
  position:relative;
  margin:-59px 0 7px;
}
#main .intro-block:after{
  content:'';
  display:block;
  clear:both;
}
.intro-block .alignright{
  float:right;
  vertical-align:top;
  margin:10px 0 0 70px;
}
#main .intro-block h2{
  margin:0 0 6px;
  color:#111;
  font:bold 24px/32px Georgia, Times, sans-serif;
}
.intro-block .text-holder{overflow:hidden;}
#main .main-frame{
  width:100%;
  overflow:hidden;
  margin:-56px 0 0;
}
#main .main-frame:after{
  content:'';
  display:block;
  clear:both;
}
#main .main-frame .heading{
  padding:0 4px 15px 5px;
  margin:0 0 16px;
  width:934px;
  position:relative;
  border-bottom:1px solid #ccc;
}
#main .main-frame .heading:after{
  content:'';
  display:block;
  clear:both;
}
#main .main-frame .heading h2{
  color:#111;
  padding:7px 0 0;
  font:bold 24px/32px Georgia, Times, sans-serif;
}
.main-frame .heading img{
  float:right;
  vertical-align:top;
}
#main .main-holder:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area{
  position:relative;
}
.tab-area.alter{width:941px;}
.tab-area:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area .opportunity{
  position:absolute;
  right:0;
  top:8px;
  word-spacing:2px;
  text-transform:uppercase;
  font-size:11px;
  line-height:16px;
}
.opportunity li{
  float:left;
  padding:0 4px 0 6px;
  background:url(separator7.gif) 0 50% no-repeat;
}
.opportunity li:first-child{
  background:none;
  padding-left:0;
}
.tab-area .tabset{
  width:100%;
  letter-spacing:1px;
  /*word-spacing:-2px;*/
  font-size:11px;
  line-height:14px;
  margin-bottom: 0 !important;
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
}
.main-wrap .tab-area .tabset{padding:8px 0 0;}
.tab-area.alter .tabset{letter-spacing:0;}
.tab-area .tabset:after{
  content:'';
  display:block;
  clear:both;
}
.tabset li{
  float:left;
  margin:0 2px 0 0;
}
.tab-area.alter .tabset li{margin:0 0 0 2px;}
.tab-area.alter .tabset li:first-child{margin:0;}
.tabset a{
  border:solid #ccc;
  border-width:1px 1px 0;
  min-width:37px;
  padding:4px 8px;
  float:left;
  color:#000;
  background:url(bg-tab.gif) repeat-x;
}
.tab-area.alter .tabset a{
  padding:4px 0;
  float:none;
  display:block;
  text-align:center;
}
.tabset a:hover,
.tabset a.active{
  text-decoration:none;
  color:#fff;
  position:relative;
  margin:-2px 0 0;
  padding:6px 8px 4px;
  background:url(bg-tab-h.gif) repeat-x;
}
.tab-area.alter .tabset a:hover,
.tab-area.alter .tabset a.active{
  margin:0;
  padding:4px 0;
}
.tab-area .tab-content{
  border:1px solid #ccc;
  margin:0 0 20px;
  padding:11px 11px 28px 9px;
}
.main-wrap .tab-area .tab-content{
  margin:0 0 20px;
  padding:22px 8px 37px 12px;
}
.tab-area .tab-content:after{
  content:'';
  display:block;
  clear:both;
}
.tab-area.alter .tab-content{
  padding:20px 10px 29px 8px;
}
.tab-content .frame-container{
  border:1px solid #ccc;
  position:relative;
  margin:-20px -10px 23px -8px;
  padding:20px 10px 0 8px;
}
.tab-area .table{
  padding:0 0 1px;
  position:relative;
  margin:-2px -2px -14px -2px;
  overflow:hidden;
  font-size:10px;
  line-height:14px;
}
