.nav-wrapper {
  width: 960px;
  margin: 0 auto;
}

.nav-wrapper .heading {
  width: 100%;
  overflow: hidden;
  margin: 0 0 14px;
}

.nav-wrapper .text-stage {
  float: left;
  margin-top: 15px;
}

nav#nav-secondary, nav#nav-tertiary {
  background-color: tint(#f2871f, 90%);
  font-family: 'ITCFranklinGothicW01-Dm 812677', 'Trebuchet MS', 'Arial Narrow', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1.3;
  > ul {
    display: table;
    border-collapse: collapse;
    width: 100%;
    &.drop {
      position: relative;

      li {
        &:hover {
          background-color: #fff;
        }
      }
    }
    > li {
      display: table-cell;
      border: 1px solid tint(#f2871f, 40%);

      &.drop {
        a {}
        > ul {
          margin-left: -1px;
        }
      }
    }
  }
  a {
    display: block;
    padding-left: 7px;
    &:link, &:visited {
      color: #f2871f;
    }
  }
}

// Dropdowns

/*---- CROSS BROWSER DROPDOWN MENU WITH HOVER ----*/
ul.drop a { display:inline-block; text-decoration: none }
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; }
ul.drop { z-index: 597; }
ul.drop li { line-height: 1.8em; vertical-align: middle; zoom: 1; border: 1px solid tint(#f2871f, 40%);}
ul.drop li.hover, ul.drop li:hover { z-index: 599; cursor: default; }
ul.drop ul { visibility: hidden; position: absolute; z-index: 598; background-color: tint(#f2871f, 90%); }
ul.drop ul li { float: none; min-width: 150px; }
ul.drop ul ul { display: block; top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }
ul.drop li:focus > ul { visibility: visible }

#navigation:after{
  content:'';
  display:block;
  clear:both;
}
#navigation li{
  float:left;
  margin:0 0 0 10px;
}
#navigation li:first-child{margin:0;}
#navigation a{
  color:#000;
  display:block;
  text-align:center;
}
#navigation .active a,
#navigation a:hover{
  color:#f78f20;
  text-decoration:none;
}
#navigation .active a{
  background:url(bg-nav-h.gif) 50% 100% no-repeat;
  padding:0 0 9px;
  position:relative;
  margin:0 0 -9px;
}
#navigation ul{
  display:none;
  font-size:14px;
  line-height:16px;
  position:absolute;
  left:0;
  top:31px;
}
#navigation .active ul{display:block;}
#navigation .active ul li{margin:0 27px 0 0;}
#navigation .active ul a{
  color:#f78f20;
  background:none;
}
#navigation .active ul a:hover{
  text-decoration:none;
  color:#000;
}

