@import 'bourbon';
@import 'neat';

@import 'stage_assets/reset';

@import 'stage_assets/colors';
@import 'stage_assets/utilities';
@import 'stage_assets/layout';
@import 'stage_assets/typography';
@import 'stage_assets/footer';
@import 'castings/general';
@import 'main';
@import 'navigation';

#site-logo {
  display: block;
  position: absolute;
  text-indent: -9999px;
}

$max-width: 960px;

#page-wrapper {
  #page {
    @include outer-container;
    @extend %full-width-with-divider;
    #body_content {
      h2 {
        @extend %content-heading;
      }
      #body {
        @include span-columns(8);
      }
      #side_body {
        @include span-columns(4);
      }
    }
  }
}
