@import 'bourbon';
@import 'grid-settings';
@import 'neat';

@import 'stage_assets/partials/reset';
@import 'stage_assets/partials/variables';
@import 'stage_assets/partials/typography';
@import 'stage_assets/partials/compass_mixins';
@import 'stage_assets/partials/advertising_top';
@import 'stage_assets/partials/navigation_global';
@import 'stage_assets/partials/footer';
@import 'stage_assets/partials/environment';
@import 'stage_assets/partials/user_logged';
@import 'stage_assets/partials/login_form';
@import 'stage_assets/partials/nav';
@import 'stage_assets/partials/general';
body {
  font-family: $sans_serif_font;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  // background-color: #def;
  background-color: #fff;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  &:link, &:visited {
    color: black;
  }
  &:hover, &:focus {
    color: $site_key_color;
  }
}

div.container {
 @include outer-container;
}

.hidden {
  display: none;
}

a.hidden{
	position:absolute;
	top:0;
	left:-9999px;
}

#branding {
  h1 {
    @include span-columns(12);
    @include franklin_gothic_font;
    text-transform: uppercase;
    font-size: 50px;
    margin: 15px 0 5px;
    padding: 0;
    line-height: 38px;
    img {
      width: 210px;
      height: 35px;
    }
    a:link, a:visited {
      color: $site_key_color;
    }
    a:hover, a:focus {
      color: black;
    }
  }

  #site-description {
    display: none;
  }
}