@mixin float($side: left) {
  display: inline;
  float: unquote($side);
}
@mixin float-left {
  @include float(left);
}
@mixin float-right {
  @include float(right);
}

@mixin reset-float($display: block) {
  float: none;
  display: $display;
}

