// general reset
// TODO: replace with more intelligent one;
html{
  color:#000;
  background:#fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
p,
blockquote,
th,
td{
  margin:0;
  padding:0;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img{border:0;}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var{
  font-style:normal;
  font-weight:normal;
}
ol,
ul{list-style:none;}
caption,
th{text-align:left;}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym{
  border:0;
  font-variant:normal;
}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,
textarea,
select{
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
legend{color:#000;}
header,
footer,
article,
section,
aside,
hgroup,
nav,
figure{display:block;}
body{
  min-width:964px;
  color:#555;
  font:13px/15px Arial, Helvetica, sans-serif;
  background:#fff;
}
img{border-style:none;}
a{
  text-decoration:none;
  color:#f3871f;
}
a:hover{text-decoration:underline;}
q{quotes:none;}
