@import 'stage_assets/colors';
@import 'partials/fonts';

$stage_button_padding_top: 7px !default;
$stage_button_padding_bottom: 6px !default;
$stage_button_padding_left_right: 8px !default;
$stage_button_padding: $stage_button_padding_top $stage_button_padding_left_right $stage_button_padding_bottom !default;

@mixin stage_flat_button_skeleton {
  border-width: 0;
  display: inline-block;
  cursor: pointer;
  padding: $stage_button_padding;
  text-decoration: none;
  @include stage_flat_button_typography;
}

@mixin stage_flat_button_colors($bg_color: $stage_castings_color, $color: white, $hover_bg_color: black, $hover_color: white) {
  background-color: $bg_color;
  color: $color;
  &:hover {
    background-color: $hover_bg_color;
    color: $hover_color;
  }
}

@mixin stage_flat_button_typography($font_size: 12px) {
  font-family: $sans_serif_family;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  font-size: $font_size;
  line-height: 1.0;
}

@mixin stage_flat_button_include_icon($icon: 'bullet7.png', $hover_icon: nil) {
  border-right: $stage_button_padding_left_right solid transparent;
  padding-right: $stage_button_padding_left_right + 16px;
  background: {
    image: url(image-path($icon));
    position: right center;
    repeat: no-repeat;
  }
  @if $hover_icon != nil {
    &:hover {
      background-image: url(image-path($hover_icon));
    }
  }
}

// BUTTON TEMPLATE STANDARDS
// use @extend to implement these button styles, or use the building blocks above to create
// your own.

%flat_button_general {
  @include stage_flat_button_skeleton;
  @include stage_flat_button_colors($bg_color: $stage_dark_grey_color, $hover_bg_color: black);
}

%flat_button_add_black {
  @extend %flat_button_general;
  @include stage_flat_button_colors($bg_color: black, $hover_bg_color: $stage_castings_color);
  @include stage_flat_button_include_icon('circle-plus-white.png');
}


%flat_button_confirm {
  @extend %flat_button_general;
  @include stage_flat_button_colors($bg_color: $stage_castings_color, $hover_bg_color: black);
  @include stage_flat_button_include_icon('circle-arrow-right-white.png');
}

%flat_button_next {
  @extend %flat_button_general;
  @include stage_flat_button_include_icon('circle-arrow-right-white.png');
}

%flat_button_preview {
  @extend %flat_button_confirm;
  @include stage_flat_button_include_icon('circle-linearrow-right-white.png');
}

%flat_button_pre_spacer {
  margin-left: 20px;
}
%flat_button_post_spacer {
  margin-right: 20px;
}

