%nav#nav-secondary
  %ul.drop
    = home_tab
    = nav_tab :casting, '/castings-auditions' #roles_path
    = nav_tab :performer, '/performer-directory' #performers_path
    = nav_dropdown :audition_advice, '/audition-advice' do
      = nav_tab :articles, '/audition-advice'
      = nav_tab :question_answers, '/audition-advice/castings-qa'
      = nav_tab :faq, '/faqs'
    = nav_tab :terms_and_conditions, '/terms-of-use' #terms_page_path
