%h1.text-stage
  = link_to '/', itemprop: 'url', title: "The Stage Castings - #{controller.controller_name.humanize} - #{controller.action_name.humanize}" do
    =image_tag("logo-castings400x63.png", width: "400", height: "63", itemprop: "logo", alt: 'castings.thestage.co.uk')
