/* ------------------------------------------------------------------------------
    G E N E R A L
--------------------------------------------------------------------------------- */
body {
	font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #777;
	margin: 0; padding: 0;
}
/* links */
a:link, a:visited {
	text-decoration: none;
	color: #FF409F;
}
a:hover { color: #147DB6; }
a:link.more, a:visited.more {
	float: left;
	margin-top: 20px;
	margin-right: 5px;
	padding: 6px 8px;
	border: 1px solid #2177A5;
	background-color: #227bad;
    text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
a:hover.more {
	border: 1px solid #FF2B95;
	background-color: #FF3399;
}

/* Headers */
h1, h2, h3, h4 {
	font: bold 1em/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #555;
	margin: 8px 25px;
}
h1 { font-size: 3.7em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 2.8em; font-weight: normal; }
h3 { font-size: 2.2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px; }
h4 { font-size: 1.5em; }

/* lists */
ul, ol {
	margin: 10px 25px;
	padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
  font-weight: bold;
  color: #1980AF;	
}
dd {
  padding-left: 20px;
}

p, dl { margin: 10px 25px; }

/* images */
img {
   background: #F3F4F5;
   border: 1px solid #E2E4E7;
	padding: 10px;
}
img.float-right {	margin: 5px 0px 10px 10px; }
img.float-left { margin: 5px 10px 10px 0px; }

code {
  	margin: 3px 0;
  	padding: 20px;
  	text-align: left;
  	display: block;
  	overflow: auto;
  	font: 500 1em/1.5em 'Lucida Console', 'Courier New', Monospace;
  	/* white-space: pre; */
  	border: 1px solid #F0F0F0;
	background: #F8F8F8;
	color: #555;
}
acronym {
	cursor: help;
  	border-bottom: 1px dotted #777;
}
blockquote {
  	margin: 10px 25px;
  	padding: 10px 20px 10px 32px;
  	border: 1px solid #F0F0F0;
  	background: #f8f8f8 url(<%= asset_path 'stage_assets/admin/quote.gif' %>) no-repeat 12px 12px;
  	font-weight: normal;
  	font-size: 17px;
  	line-height: 1.5em;
  	font-style: italic;
  	font-family: Georgia, 'Times New Roman', Times, Serif;
  	color: #555;
}
strong { font-weight: bold; }

/* table */
table {
	border-collapse: collapse;
	margin: 0;
}
tr { background: #FFF; }
th, td {
	text-align: left;			
	border-width: 1px;
  	border-style: solid;
}
th {
  	padding: .8em 1em;
	background: #2C76A6;
  	border-color: #308ABA #308ABA #246F97 #308ABA;
	color: #fff;
	font-weight: bold;
}
td {
	border-color: #E9E9E9;
	padding: .7em 1em;
}

/* form elements */
form {
	margin: 10px 0;
	padding: 10px 25px 25px 25px;
    background: #F3F4F5;
    border: 1px solid #E2E4E7;
	/*width: 477px;*/
}
form p {
	border-bottom: 1px solid #E6E6E6;
	padding: 12px 0 5px 0;	margin: 0;	
	color: #2C76A6;
}
label {
	font-weight: bold;
	color: #666666;
}
input, select, textarea {
	margin: 5px 0;
	padding: 7px 6px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4; 	
	font: 14px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
input:focus, select:focus, textarea:focus {
	color: #19465D;
	background: #EEF8FB;
}
#name, #email, #message, #website {
	width: 460px;
}
input.button {
	font: bold 12px Arial, Sans-serif;
	height: 30px;
	margin: 0;
	padding: 2px 3px;
	color: #FFF;
	background: #2C76A6;
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #86BBDF #245F86 #245F86 #86BBDF;
	cursor: pointer;
}

/* ------------------------------------------------------------------------------
    L A Y O U T
--------------------------------------------------------------------------------- */

/* header */
#header-wrap {
  float: left;
  height: 200px;
  width: 100%;
  background: url(<%= asset_path 'stage_assets/admin/header-bg.jpg' %>) repeat-x;
}
#header {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

#header h1#logo-text { margin: 0; padding: 0; }
#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0 5px 0 0;
	font: bold 55px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
	letter-spacing: -4px;
	color: #333;
	text-decoration: none;

  	/* change the values of top and left to adjust the position of the logo*/
	top: 82px; left: 25px;
}
#header p#slogan {
	position: absolute;
	margin: 0; padding:  0 5px 0 0;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.8em;
	font-style: normal;
	letter-spacing: -.5px;
	color: #0d6684;

	/* change the values of top and left to adjust the position */
	top: 142px; left: 30px;
}

/* RSS */
#header p#rss {
  position: absolute;
  width: 175px;
  height: 50px;
  top: 15px;  right: 17px;
  padding: 0; margin: 0;
  text-align: right;
}
#header p#rss a {
  background: transparent url(<%= asset_path 'stage_assets/admin/rss.gif' %>) no-repeat left center;
  color: #baa7a7;
  height: 30px;
  font: bold 12px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
  margin: 0;
  padding: 10px 0 0 30px;
  display: block;
}
#header p#rss a:hover { color: #fff; }

/* Quick Search */
form#quick-search {
  	position: absolute;
  	top: 95px; right: 12px;
  	background: transparent;
  	border: none;
  	margin: 0; padding: 0;
  	width: 250px;
}
fieldset.search {
	border: none;
   width: 250px; height: 40px;
   padding: 0; margin: 0;
   background: url(<%= asset_path 'stage_assets/admin/search.gif' %>) no-repeat;
}
.search input {
  	border: none;
  	float: left;
 	padding: 0; margin: 0;
}
.search button {
  	border: none;
  	float: right;
  	padding: 0; margin: 0;
}
.search label { display: none; }
.search input.tbox {
  	color: #7d8285;
  	font-weight: bold;
  	margin: 15px 0 10px 10px;
  	background: transparent;
  	width: 200px;
}
.search button.btn {
  	width: 40px;
  	height: 40px;
  	cursor: pointer;
  	text-indent: -9999px;
  	background: #fbc900 url(<%= asset_path 'stage_assets/admin/search.gif' %>) no-repeat top right;
}

/*  navigation  */
#header #nav {
	position: absolute;
	left: 15px;	top: 25px;
	margin: 0; padding: 0;
	width: 750px;
}
#header #nav ul {
	float: left;	
	list-style: none;
	margin: 0; padding: 0;
	height: 45px;
}
#header #nav ul li {
	float: left;
	margin: 0; padding: 0;			
}
#header #nav ul li a {
	float:left;
	margin: 0;
	padding: 0 15px 29px 15px;
	color: #baa7a7;
	font: bold 12px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}
#header #nav ul li a:hover, 
#header #nav ul li a:active {
	border: none;
	color: #fff;
}
#header #nav ul li#current a {
	background: transparent url(<%= asset_path 'stage_assets/admin/current.jpg' %>) no-repeat center bottom;
	color: #fff;
}

/* content */
#content-wrap {
	clear: both;
  	margin: 0; padding: 0;
   background: #fff;
   width: 100%;
   float: left;
}
#content {
   width: 1000px;
   margin: 0 auto;
   padding: 0 0 20px 0;
   background: #FFF url(<%= asset_path 'stage_assets/admin/content.gif' %>) repeat-y center top;
   overflow: hidden;
}

/* columns */
#main {
	float: left;
   margin: 0;
   padding: 25px 0 0 10px;
	width: 730px;
}
#sidebar {
	width: 245px;
	float: left;
   margin: 0;
   padding: 15px 15px 15px 0;
   font-size: .95em;
}

#main h2 {
	font: bold 3.2em/1em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
   color: #333;
	letter-spacing: -2.0px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#main h2 a { color: #333; }
#sidebar h3 {
	font: bold 1.7em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
   letter-spacing: .2px;
	margin-left: 10px;
   color: #333;
}
#sidebar h3, #sidebar p {
	margin-left: 10px;
}
#sidebar img { padding: 8px; }


/* sidemenu */
.sidemenu ul {
	text-align: left;
	margin: 10px 15px 10px 8px;
   padding: 0;
	border-top: 1px solid #EFEFEF;
}
.sidemenu ul li {
	list-style: none;
	font-size: 11px;
	margin: 0;
	padding: 7px 5px;
	border-bottom: 1px solid #EFEFEF;
}
* html body .sidemenu ul li {	height: 1%; }
.sidemenu ul li a:link,
.sidemenu ul li a:visited {
   color: #33799B;
	padding-left: 0;
	font-weight: bold;
   text-transform: uppercase;
}
.sidemenu ul li a span {
	color: #959595;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}
.sidemenu ul li a:hover { color: #000; }
.sidemenu ul ul { margin: 0 0 0 5px; padding: 0; }
.sidemenu ul ul li { border: none; }

/* popular */
.popular ul {
	text-align: left;
	margin: 10px 15px 10px 8px;
    padding: 0;
	border-top: 1px solid #EFEFEF;
}
.popular ul li {
	list-style: none;
	border-bottom: 1px solid #EFEFEF;
    font-size: 12px;
	line-height: 1.5em;
	padding: 8px 5px 8px 20px;
	margin: 0;
	background: url(<%= asset_path 'stage_assets/admin/document.gif' %>) no-repeat 3px 11px;
}
* html body .popular ul li { height: 1%; }
.popular ul li a:link,
.popular ul li a:visited {
   color: #33799B;
	padding-left: 0;
	font-weight: bold;
   text-transform: none;
}
.popular ul li span {
	color: #888;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 1.7em;
}
.popular ul li a:hover { color: #000; }

/* footer */
#footer-outer {
	clear: both;
	text-align: left;
	width: 100%;
	font-size: .9em;
	color: #C2DBE7;
    padding-bottom: 30px;
	border-top: #1a5d8a;
}
#footer-wrap {
	width: 1000px;
	margin: 0 auto;
}
#footer-wrap a:link,
#footer-wrap a:visited { color: #fff; }
#footer-wrap a:hover { color: #99CCFF; }
#footer-wrap h3 {
   font: bold 1.7em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	letter-spacing: .2px;
   margin-bottom: 15px;
	color: #fff;
}

/* gallery */
#footer-wrap #gallery {
	padding: 0 0 10px 0;
   margin: 0;
   width: 100%;
	background: url(<%= asset_path 'stage_assets/admin/footer-line.gif' %>) repeat-x left bottom;

	/* border-bottom: 1px solid #326B8D;  */
}
#footer-wrap #gallery h3 {
  float: left;
  display: inline;
  width: 200px;
  margin: 30px 0 0 20px;
  padding: 0;
}
#footer-wrap #gallery p.thumbs {
  float: right;
  display: inline;
  width: 730px;
  margin: 20px 0 0 0;
  padding: 0;
}
p.thumbs img {
	position: relative;
	padding: 8px;
	margin: 10px 10px 10px 0;
	background: #FAFAFA;
   border: 1px solid #EDEDED;
}

/* footer columns */
#footer-wrap .col-a {
	width: 250px;
	float: left;
}
#footer-wrap .col-b {
	width: 245px;
	float: right;
}

/* recent comments */
.recent-comments ul {
	text-align: left;
	margin-left: 20px;
   padding: 0;
	background: url(<%= asset_path 'stage_assets/admin/footer-line.gif' %>) repeat-x left top;
}
.recent-comments ul li {
	list-style: none;
	font-size: 12px;
	line-height: 1.5em;
	padding: 7px 5px 7px 20px;
	background: url(<%= asset_path 'stage_assets/admin/speech_bubble.gif' %>) no-repeat 3px 11px;
}
* html body .recent-comments ul li { height: 1%; }
.recent-comments ul li a:link,
.recent-comments ul li a:visited { padding-left: 0; }
.recent-comments ul li cite {
	font-size: .9em;
	font-style: normal;
}

/* footer-list */
.footer-list ul {
	background: url(<%= asset_path 'stage_assets/admin/ooter-line.gif' %>) repeat-x left top;
	list-style: none;
	padding: 0;
	margin-left: 20px;
}
.footer-list ul li { border-bottom: 1px solid #326B8D; }
.footer-list ul li a:link,
.footer-list ul li a:visited {
	display: block;
	width: 98%;
	line-height: 2em;
	padding: 5px 0 5px 5px;
	margin-left: 0;
	color: #fff;
}
.footer-list ul li a:hover { color: #99CCFF; }

/* subscribe stuff */
ul.subscribe-stuff {
  list-style: none;
  margin: 0 0 0 20px; padding: 0;
}
ul.subscribe-stuff li {
  float: left;
  margin: 0 3px 0 0; padding: 0;
}
ul.subscribe-stuff li img {
  padding: 0; margin: 0;
  border: none;
  background: none;
}

/* footer-bottom */
#footer-bottom {
	clear: both;
   width: 1000px;
   font-size: .9em;
	margin: 0 auto;
   padding-top: 10px;
   font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	font-size: .9em;
	color: #C2DBE7;
   overflow: hidden;
   background: url(<%= asset_path 'stage_assets/admin/footer-line.gif' %>) repeat-x left top;
}
#footer-bottom a { color: #fff; }
#footer-bottom a:hover { color: #99CCFF; }

#footer-bottom p.bottom-left {
	float: left;
   display: inline;
	margin: 0 0 30px 20px;
	padding: 0;
   width: 600px;
   text-align: left;
}
#footer-bottom p.bottom-right {
	float: right;
   display: inline;
	margin: 0 30px 30px 0;
	padding: 0;
   width: 320px;
   text-align: right;
}

/* ------------------------------------------------------------------------------
		B L O G   P O S T
--------------------------------------------------------------------------------- */
.post {
   margin: 5px 0 20px 0;
   padding: 0 0 20px 0;
   width: 740px;
   overflow: hidden;
   border-bottom: 1px solid #eee;
}
.right {
	width: 560px;
   float: right;
   display: inline;
   padding-right: 15px;
}
.left {
    position: relative;
    width: 150px;
    float: right;
    display: inline;
}
.right .image-section {
	clear: both;
	display: block;
	margin: 25px 0 10px 20px;
	padding: 0;
}
.right .image-section img {
	background: #F3F4F5;
   border: 1px solid #E2E3E7;
	padding: 12px;
}
.right h2 { margin-top: 0; }

/* share */
.right .share-box {
   margin: 20px 12px 0 20px;
	padding: 0 10px 10px 20px;
   background: #FAFAFA;
   border: 1px solid #EAECEE;
	overflow: hidden;
	width: 494px;
}
.right .share-box h4 {
 margin-left: 0;
}
.right .share-box ul {
  list-style: none;
  margin: 0; padding: 0;
}
.right .share-box ul li {
  float: left;
  margin-right: 5px;
}
.right .share-box ul li a:hover { cursor: pointer; }
.right .share-box ul li img {
  margin: 0;
  padding: 5px;
  background: #fff;
}

/* dateinfo */
.left p.dateinfo {
  background: url(<%= asset_path 'stage_assets/admin/date-bg.gif' %>) no-repeat;
  height: 83px;
  width: 68px;
  margin: 12px 0 0 70px;
  padding: 8px 0 0 1px;
  font: bold 15px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}
.left p.dateinfo span {
  font: bold 30px Arial, Helvetica, sans-serif;
  display: block;
  color: #555;
  margin: 8px 0 0 0;
  padding: 0;
  letter-spacing: 0;
}

/* post meta */
.left .post-meta {
    width: 140px;
    font-size: .9em;
    margin: 5px 0 20px 0;
    padding: 0;
}
.left .post-meta h4 {
   text-align: right;
   margin: 0 5px 10px 5px;
   padding: 0;
   color: #555;
}
.left .post-meta ul {
   list-style: none;
   margin: 0; padding: 0;
   border-top: 1px solid #F1F1F1;
}
.left .post-meta ul li {
	list-style: none;
	border-bottom: 1px solid #F1F1F1;
   padding: 3px 5px;
	margin: 0;
   text-align: right;
	color: #147DB6;
}
* html body .left .post-meta ul li { height: 1%; }

.left .post-meta ul.tags li { background: url(<%= asset_path 'stage_assets/admin/tag.gif' %>) no-repeat 2px center; }
.left .post-meta ul li.user { background: url(<%= asset_path 'stage_assets/admin/user.gif' %>) no-repeat 2px center; }
.left .post-meta ul li.time { background: url(<%= asset_path 'stage_assets/admin/clock.gif' %>) no-repeat 2px center; }
.left .post-meta ul li.comment { background: url(<%= asset_path 'stage_assets/admin/comment.gif' %>) no-repeat 2px center; }
.left .post-meta ul li.permalink { background: url(<%= asset_path 'stage_assets/admin/permalink.gif' %>) no-repeat 2px center; }

.left .post-meta ul li a { color: #147DB6; }
.left .post-meta ul li a:hover { color: #333; }

/* post bottom */
.post-bottom-section {
   position: relative;
	margin: 10px 0 20px 0;
   padding: 0 0 20px 0;
   width: 740px;
   overflow: hidden;
   border-bottom: 1px solid #eeeeee;
}
.post-bottom-section h4 {
   position: absolute;
   left: 0px; top: 5px;
   text-align: right;
	width: 135px;
}
.post-bottom-section .right form {
	position: relative;
	top: 15px; left: 20px;
	margin: 0 0 20px 0 ;
}

/* post info */
.post-info { margin-top: 3px; }
.post .post-info a:link,
.post .post-info a:visited {
  	color: #1372a8;
  	border: none;
  	font-size: .9em;
}

/* comments list */
ol.commentlist {
	margin: 12px 12px 12px 20px;
	padding: 0;
   background: #FAFAFA;
   border-top: 1px solid #EAECEE;
}
.commentlist li {
	list-style: none;
	margin: 0;
	padding: 12px 0 0 0;
	border: 1px solid #EAECEE;
   border-width: 0 1px 1px 1px;
	overflow: hidden;
}
.commentlist li a:link,
.commentlist li a:visited {
  color: #227bad;
}
.commentlist li .comment-info {
	width: 99%;
	margin: 0; padding: 0;
	overflow: hidden;
}
.commentlist li .comment-info img {
	float: right;
	margin: 3px 13px 0 0;
   background: #fff;
	border: 1px solid #E8EAEC;
	display: inline;
}
.commentlist li .comment-info cite {
	display: block;
	margin: 0; padding: 5px 65px 5px 20px;
	font-style: normal;
	font-weight: bold;
}
.commentlist li .comment-info cite .comment-data {
	font-size: .8em;
	font-weight: normal;
}
.commentlist li .comment-text {
	clear: both;
	margin: 0; padding: 0 20px 25px 20px;
}
.commentlist li .comment-text p {
	margin:  5px 0 20px 0;
	padding: 0;
}
.commentlist li .comment-text .reply a {
	padding: 5px;
   border: 1px solid #2177A5;
	background-color: #227bad;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
}
.commentlist li ul.children { margin:0; padding: 0; }
.commentlist li ul.children li.depth-2,
.commentlist li ul.children li.depth-3 {
	margin-left: 40px;
	border-style: solid;
	border-color: #E1E6E8;
	border-width: 1px 0 0 1px;
}
.commentlist li.thread-alt {
	background: #F3F4F5;
   border-color: #E2E4E7;
}

/* ------------------------------------------------------------------------------
    A R C H I V E S
--------------------------------------------------------------------------------- */
ul.archive {
	margin: 10px 30px 10px 20px;
	padding: 0;
	border-top: 1px solid #eeeeee;
}
ul.archive li {
	margin: 0;
	padding: 12px 5px;
	border-bottom: 1px solid #eeeeee;
	list-style: none;
}
ul.archive li .post-title {
	margin: 0;	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
}
ul.archive li .post-title a:link,
ul.archive li .post-title a:visited {
	color: #444;
}
ul.archive li .post-title a:hover {
	border: none;
	color: #000;
}
ul.archive li .post-details {
	margin-left: 0;
	margin-top: 0;
	font-size: .9em;
}
ul.archive li .post-details a:link,
ul.archive li .post-details a:visited {
   color: #1372a8;
}

/* pagenavigation */
.navigation {
	margin: 10px 20px; padding: 0;
	width: 560px;
}
.navigation a:link,
.navigation a:visited {
	float: left;
	display: block;
	margin: 10px 10px 0 0;
	padding: 5px 7px;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background: #2C76A6;
	border-width: 1px;
  	border-style: solid;
  	border-color: #86BBDF #245F86 #245F86 #86BBDF;
}
.navigation a:hover {
   background: #FF3399;
   border-width: 1px;
  	border-style: solid;
	border-color: #FF75BA #EA0075 #EA0075 #FF75BA;
}

/* ------------------------------------------------------------------------------
		M I S C
--------------------------------------------------------------------------------- */

/* alignment classes & additional classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.no-border { border: none; }
.no-bg {	background: none; }

/* clearing */
.fix {
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden;
}
.clear {	display:inline-block; }
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: " ";
}

span.error {
	color:red;
	display:block;
}

.flash {
    text-align: center;
    padding:    .3em .4em;
	margin-left:23px;
	max-width:525px;
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    border: thin solid #74e274;
    background: #caefca;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}